/*
* BASIC STYLE
  - General Style
  - Headings Style
  - Button Style
  - Form Style
  - Spacer Style

* HEADER
  - Header Style
  - Navigation Menu Style
  - Megamenu Style

* CONTANT
  - Banner Style
  - Bread-crumb
  - Sub-banner
  - Product Box
  - Site Services Features Block
  - Special Product Block
  - Custom News Letter
  - Testimonial
  - Blog
  - Brand-Logo
  - Sidebar
  - Sorting
  - Product Detail Page
  - Cart Page
  - Checkout Page
  - Login Register Page
  - Account Page
  - Blog Page
  - About Page
  - 404 Page
  - Contact Page
  - Wishlist Page
  - Compare page

* FOOTER
*/
/*_______________________________________________________
// BASIC STYLE  //----------------------------
_______________________________________________________*/

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900');

/* - General Style //---------------- */

::-moz-selection {
	background-color: #ffe400;
	color: #FFF;
}
::selection {
	background-color: rgba(206, 211, 212, 0.5019607843137255);
	color: #FFF;
}
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}
button:focus {outline:0;}
select:focus {outline:0;}
body {
	line-height: 24px;
	color: #666666;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

body.dark-header {
	padding-top: 82px;
}
button:focus {outline:0 !important;}
input:focus {outline:0 !important;}
.container {
	padding-left: 0;
	padding-right: 0;
}
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/logoGrunem.png) center no-repeat rgba(255, 255, 255, 0.8);
}
.main {
	position: relative;
	overflow: hidden;
}
img {
	height: auto;
	max-width: 100%;
	border: none;
	outline: none;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
a, a:focus, a:active, a:link, img {
	outline: none;
	text-decoration: none;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: #6d6d6d;
	transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
}
a:hover {
	color: #2084ff;
	text-decoration: none;
	transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
}
br {
	font-size: 0;
	line-height: 0;
}
hr {
	margin-bottom: 0px;
	margin-top: 0px;
	border-top: 1px solid #f1f1f1;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0;
}
.position-r {
	position: relative;
}
.position-s {
	position: static;
}
.position-initial {
	position: initial;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left !important;
}
.align-right {
	text-align: right !important;
}
.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg p {
	color: #fff;
}
.dark-bg {
	background: #141414;
	color: #fff;
}
.gray-bg {
	background: #f5f5f5;
}

.light-gray-bg {
	background: #fafafa none repeat scroll 0 0;
}

.middle-800 p {
	display: inline-block;
	max-width: 800px;
}
.middle-580 p {
	display: inline-block;
	max-width: 580px;
}

.border-right {
	border-right: 1px solid #e1e1e1;
}

/* - Headings Style   //---------------- */

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
h1 {
	font-size: 43px;
	letter-spacing: 1px;
	line-height: 40px;
}
h2 {
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 20px;
	font-weight: 700;
	letter-spacing: 3px;
}
h3 {
	font-size: 21px;
	line-height: 32px;
}
h2.heading {
	font-size: 25px;
	line-height: 32px;
}

h4 {
	font-size: 17px;
	line-height: 28px;
}
h5 {
	font-size: 15px;
	line-height: 23px;
	font-weight: 600;
}
h6 {
	font-size: 13px;
	line-height: 17px;
	font-weight: 600;
}
/* - Button Style  //----------------*/

.btn, button {
	padding: 13px 15px;
	line-height: 16px;
	font-weight: 500;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
.btn.full {
	width: 100%;
	text-align: center;
}
.btn.big-width {
	padding: 13px 30px;
}
.btn.big {
	padding: 25px;
}
.btn i.fa {
	font-size: 18px;
	margin: 0 5px;
}
.btn-black {
	color: #fff;
	background: #222;
	border: none;
}
.btn-black:hover {
	color: #fff;
	background: #2084ff;
}
.btn-color {
	color: #fff !important;
	background: #2084ff;
	border: none;
}
.btn-color:hover {
	color: #fff;
	background: rgba(32,132,255,0.80);
}
.btn-white {
	color: #222;
	background: rgba(255,255,255,1);
	border: none;
}
.btn-white:hover {
	color: #222;
	background: #ffe400;
}

.btn-sidebar-menu-dropdown {
	display: inline-block;
	color: #ffffff;
	background-color: #269EA8;
	text-transform: uppercase;
	font-weight: 700;
	padding: 15px;
	font-size: 20px;
	line-height: 20px;
	width: 100%;
}

.btn-sidebar-menu-dropdown:hover, .btn-sidebar-menu-dropdown:focus, .btn-sidebar-menu-dropdown:active {
	color: #0d0d25 !important;
}

/* - Form Style */
select {
	background: url(../images/select-icon.png) no-repeat scroll right 50% #fff !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #eaeaea;
	padding: 7px 24px 7px 5px;
	line-height: 18px;
}
.full select {
	width: 100%;
}
.main-form textarea {
	max-width: 100%;
}
.main-form input, .main-form textarea, .main-form select {
	background: #fff;
	padding: 8px 15px;
	width: 100%;
	border: 1px solid #eaeaea;
	min-height: 40px;
}
.check-box label {
	color: #222;
	display: inline;
	font-size: 15px;
	font-weight: 400;
}
.checkout-section .check-box input[type="checkbox"] {
	margin: 5px 0 0;
	min-height: 1px;
	display: none;
}
/* - Spacer Style  //---------------- */

.right-side {
	float: right;
}
.left-side {
	float: left;
}

.plr-20 {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.mlr_-20 {
	margin-left: -10px !important;
	margin-right: -10px !important;
}


.ptb-95 {
	padding-top: 95px;
	padding-bottom: 95px;
}
.pt-95 {
	padding-top: 95px;
}
.pb-95 {
	padding-bottom: 95px;
}

.p-0 {
	padding: 0px;
}
.mtb-60 {
	margin-top: 60px;
	margin-bottom: 60px;
}
.mt-60 {
	margin-top: 60px;
}
.mb-60 {
	margin-bottom: 60px;
}
.mtb-40 {
	margin-top: 40px;
	margin-bottom: 40px;
}
.mt-40 {
	margin-top: 40px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mtb-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.mt-30 {
	margin-top: 30px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mtb-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.mt-20 {
	margin-top: 20px;
}
.mb-20 {
	margin-bottom: 20px;
}

.pb-20 {
	padding-bottom: 20px;
}

.m-0 {
	margin: 0px;
}
/* - Newsletter   //----------------- */

#newslater-popup {
	max-width: 750px;
	margin: 0 auto;
	position: relative;
}

.nl-popup-main {
	display: block;
	background:#171c34;
	overflow: hidden;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
}

.nl-popup-inner {
	border: 2px solid #373c54;
	margin: 20px;
	display: block;
	overflow: hidden;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
}

#newslater-popup .newsletter-inner {
	background: transparent;
	padding: 30px 60px;
}
#newslater-popup .newsletter-inner span {
	color: #ffe400;
	font-weight: 600;
	margin-bottom: 15px;
	margin-top: 15px;
	text-transform: uppercase;
}
#newslater-popup .newsletter-inner input {
	width: 270px;
	padding: 7px;
}
#newslater-popup button.mfp-close {
	background-color: #171c34;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	color: #fff;
	font-size: 35px;
	opacity: 1;
	right: 0;
	top: 0;
}

#newslater-popup .newsletter-inner .main_title {
	color: #fff;
	display: block;
	font-size: 46px;
	margin-bottom: 35px;
}
#newslater-popup .newsletter-inner input {
	margin-bottom: 35px;
}
#newslater-popup .newsletter-inner form button {
	position: relative;
	background: #ffe400;
	color: #333333;
}
#newslater-popup .newsletter-inner p {
	margin-bottom: 22px;
}

/*_______________________________________________________
// HEADER  //----------------------------
_______________________________________________________*/

/* - Header Style  //---------------- */

.header-top {
	padding: 2px 0;
	margin-bottom: 6px;
	color: ##484747;
}

.header-top.mobile {
	display: none;
}

.top-link ul li select option {
	background: #fff none repeat scroll 0 0;
	color: #1f1f2f;
}

.top-link ul li select {
	background: url(../images/select-icon1.png) no-repeat scroll right 50%  !important;
	background-color: transparent !important;
	border: none;
	padding: 0 22px 0 9px;
	border-right: 1px solid #41415a;
	color: #fff;
}

.top-link ul li:last-child select {
	border-right: none;
}

.header-middle hr {
	border-color: #3c3c4a;
}

.header-middle-right {
	padding-left: 30px;
	/*border-left: 1px solid #3c3c4a;*/
}

.middle-link {
	padding: 24px 0;
	color: #fff;
}

.middle-link ul li > a span  {
	background: transparent url("../images/sprite.png") no-repeat scroll 0 0;
	display: inline-block;
	height: 20px;
	width: 25px;
	margin-bottom: -4px;
	transition: all 0.4s ease 0s;
}

.middle-link ul li.login-icon a span {
	background-position: -103px -666px;
}

.middle-link ul li.login-icon:hover a span {
	background-position: -103px -699px;
}

.middle-link ul li.track-icon a span {
	background-position: -103px -728px;
}

.middle-link ul li.track-icon:hover a span {
	background-position: -103px -760px;
}

.middle-link ul li.gift-icon a span {
	background-position: -103px -792px;
}

.middle-link ul li.gift-icon:hover a span {
	background-position: -103px -824px;
}

.middle-link.mobile {
	display: none;
}

.middle-link ul li.content {
	overflow: visible;
}

.content-dropdown {
	display: none ;
}

.content-dropdown {
	background: #fff none repeat scroll 0 0;
	border-top: 3px solid #2084ff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
	display: none;
	opacity: 1;
	padding: 10px 15px;
	position: absolute;
	right: 0;
	top: 25px;
	transition: all 0.4s ease 0s;
	width: 150px;
	z-index: 4;
}

.middle-link ul li .content-dropdown ul li {
	font-size: 14px;
	padding: 10px 5px;
	float: none;
	border: none;
}

.middle-link ul li .content-dropdown ul li > a {
	color: #666666;
}

.middle-link ul li .content-dropdown ul li:hover a {
	color: #2084ff;
}

.top-link ul li, .middle-link ul li {
	float: left;
}

.top-link ul li, .middle-link ul li  {
	border-right: 1px solid #41415a;
	line-height: 17px;
	padding: 0 12px;
	position: relative;
}

.top-link ul li, .middle-link ul li a {
	color: #484747;
}

.middle-link ul li a:hover {
	color: #269EA8;
}

.top-link ul li, .middle-link ul li:first-child  {
	padding-left: 0;
}

.top-link ul li, .middle-link ul li:last-child  {
	border-right: none;
	padding-right: 0;
}

.navbar-header {
	float: none;
}

.navbar-header .navbar-brand {
	/*height: auto;*/
	/*width: 100%;*/
	/*padding: 40px 0;*/
	/*margin-top: 0 !important;
	margin-left: 0 !important;*/

	display: inline-block;
	padding-top: 0px !important;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;

}
.navbar {
	margin-bottom: 0;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
}
header#header {
	background: #ffffff;
	top: 0;
	width: 100%;
	z-index: 2;
	border: none;
	padding: 0 15px;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

.header-right-part {
	margin: 0 ;
	padding: 0 20px 0 251px;
	position: relative;
}
.header-top .top-link-left{
	margin-top: 10px;
}
.header-top .help-num{
	margin-top: 8px;
}
.category-dropdown {
	position: absolute;
	left: 0;
	top: 0;
}

.category-dropdown select {
	border: none;
	height: 45px;
	width: 250px;
	padding: 7px 24px 7px 15px;
	border-radius : 0;
	-moz-border-radius : 0;
	-webkit-border-radius : 0;
	-o-border-radius : 0;
}

.header-right-part .category-dropdown select {
	background: url("../images/select-icon.png") no-repeat scroll right 50% #d6d6d6 !important;
}
.navbar-collapse.collapse {
	display: inline-block;
	padding-left: 0;
}
.collapsing {
	display: inline-block;
}
.navbar-collapse > ul {
	float: none !important;
	margin-bottom: -7px;
	text-align: left;
}
.header-right-link > ul > li {
	float: left;
	padding: 0 10px;
	position: relative;
	overflow: hidden;
}
.header-right-link ul li:hover {
	overflow: visible;
}
.header-right-link ul li.main-search {
	overflow: visible;
}

.homepage .search-box {
	position: relative;
	padding-right: 45px;
}

.search-box input.input-text {
	border: none;
	width: 100%;
	padding: 6px 6px 6px 10px;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	border-radius : 0;
	-moz-border-radius : 0;
	-webkit-border-radius : 0;
	-o-border-radius : 0;
	height: 42px;
}

.search-box button.search-btn {
	background: url("../images/sprite.png") no-repeat scroll 3px -85px #269EA8;
	border: none;
	height: 42px;
	width: 45px;
	position: absolute;
	right: 0;
	top: 0px;
	border-radius : 0 5px 5px 0;
	-moz-border-radius : 0 5px 5px 0;
	-webkit-border-radius : 0 5px 5px 0;
	-o-border-radius : 0 5px 5px 0;
}
.search-box button.search-btn:hover {
	background-position: 3px -119px;
}
.header-right-link > ul > li > a {
	padding: 3px 0 18px;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.header-right-link > ul > li > a span {
	background: url("../images/sprite.png") no-repeat scroll 0 0 #269EA8;
	height: 42px;
	width: 42px;
	display: inline-block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

.header-right-link ul li.compare-icon > a span {
	background-position: -53px -708px;
	position: relative;
}

.header-right-link ul li.compare-icon:hover > a span {
	background-position: -53px -748px;
}

.header-right-link ul li.wishlist-icon > a span {
	background-position: -52px -626px;
	position: relative;
}

.header-right-link ul li.wishlist-icon:hover > a span {
	background-position: -52px -667px;
}
.header-right-link ul li.cart-icon > a span {
	background-position: -52px -548px;
	position: relative;
}

.header-right-link ul li.cart-icon:hover > a span {
	background-position: -52px -585px;
}

.header-right-link ul li.cart-icon > a span small.cart-notification {
	background: #ED922A;
	color: #333333;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	height: 16px;
	line-height: 15px;
	position: absolute;
	right: -3px;
	text-align: center;
	top: 0;
	width: 16px;
}
/* Navigation Menu Style */

.navbar-nav > li > a {
	padding: 54px 18px;
	font-weight: 500;
	color: #000;
}

.nav > li {
	position: inherit;
}
.nav > li:hover > a, .nav > li.active > a, .nav > li > a:focus {
	background: none;
}
.header_search_toggle.mobile-view {
	display: none;
}

.navbar-nav > li.dropdown > a::after {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #269EA8;
	border-style: solid;
	border-width: 11px;
	bottom: 0;
	content: "";
	left: 50%;
	opacity: 0;
	position: absolute;
	transform: translateX(-50%);
	transition: all 0.4s ease 0s;
}

.navbar-nav > li.dropdown:hover > a::after {
	opacity: 1;
}

.header-link-dropdown {
	background: #fff;
	border-top: 3px solid #269EA8;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
	position: absolute;
	width: 320px;
	display: inline-block;
	right: 0;
	top: 50px;
	padding: 35px;
	opacity: 0;
	transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	z-index: 3;
}

.header-right-link > ul > li:hover .header-link-dropdown {
	opacity: 1;
}
.header-right-link .link-dropdown-list > li {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #dedede;
}

.nav > li .menu-label {
	color: #ffffff;
	display: inline-block;
	font-size: 11px;
	position: absolute;
	right: 15px;
	text-transform: uppercase;
	top: 25px;
	transition: all 0.4s ease 0s;
}

.sidebar-menu-dropdown {
	display: none;
	width: 100%;
}

.homepage .sidebar-menu-dropdown {
	display: block;
}

.sidebar-menu-dropdown > a span {
	background: url("../images/sprite.png") no-repeat scroll -63px -793px rgba(0, 0, 0, 0);
	display: inline-block;
	height: 20px;
	margin-top:-5px;
	margin-right: 20px;
	width: 22px;
}

.cat-dropdown-main .column-20per {
	height: 0;
}

.cat-dropdown {
	width: 100%;
	background-color: #f7f7f7;
	padding: 12px 0 0;
	z-index: 2;
}

.cat-dropdown .navbar-nav {
	float: none;
	margin: 0;
	width: 100%
}

.cat-dropdown .navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

.cat-dropdown .sidebar-contant ul li {
	float: none;
}

.cat-dropdown .sidebar-contant .navbar-collapse > ul > li:last-child {
	overflow: hidden !important;
}

.cat-dropdown .sidebar-contant ul li.level:hover {
	background-color: #f5f5f5;
}

.cat-dropdown .sidebar-contant > ul > li > a {
	color: #1f252d;
	font-size: 14px;
	padding: 10px 0 10px 20px !important;
}

.cat-dropdown .navbar-nav > li > a {
	padding: 8px 10px;
	margin-right: 0px;
	color: #666666;
	line-height: 24px;
}

.cat-dropdown .navbar-nav > li > a i {
	font-size: 15px;
	height: 13px;
	margin-right: 10px;
	text-align: center;
	width: 14px;
}

.cat-dropdown .navbar-nav > li > a i.fa.fa-camera-retro, .cat-dropdown .navbar-nav > li > a i.fa.fa-desktop, .cat-dropdown .navbar-nav > li > a i.fa.fa-heart, .cat-dropdown .navbar-nav > li > a i.fa.fa-shopping-bag {
	font-size: 14px;
}

/*.cat-dropdown .megamenu li a, .cat-dropdown .megamenu-inner a {
    padding: 0 !important;
    }*/

    .cat-dropdown .sub-megamenu a.page-scroll:before {
    	content:  "";
    	font-family: FontAwesome;
    	font-size: 16px;
    	position: absolute;
    	right: 10px;
    }

    .cat-dropdown .sidebar-contant ul li a:hover, .cat-dropdown .sidebar-contant ul li a:focus {
    	color: #2084ff;
    	background-color: transparent;
    }
    .cat-dropdown .sidebar-contant ul li:hover > a, .cat-dropdown .sidebar-contant ul li:focus > a {
    	color: #2084ff;
    }

    .cat-dropdown .nav > li.level .megamenu {
    	margin-top: -40px;
    	margin-left: -15px;
    	left: 16.6667%;
    }

    .cat-dropdown .nav > li.level:hover .megamenu {
    	border-radius: 0;
    	-moz-border-radius: 0;
    	-webkit-border-radius: 0;
    	-o-border-radius: 0;
    	opacity: 1;
    	top: auto;
    	left: 16.6667%;
    }

    .cat-dropdown .megamenu.full {
    	width: 80%;
    }

    .cat-dropdown .nav > li.level:last-child .megamenu {
    	right: auto;
    }

    .category-dropdown {
    	border-right: 1px solid #d7d7d7;
    	position: absolute;
    	left: 0;
    	top: 0;
    }

    .category-dropdown select {
    	border: none;
    	height: 42px;
    	width: 250px;
    	border-radius : 5px 0 0 5px;
    	-moz-border-radius : 5px 0 0 5px;
    	-webkit-border-radius : 5px 0 0 5px;
    	-o-border-radius : 5px 0 0 5px;
    }

    #menu {
    	overflow-y: auto !important;
    	overflow-x: hidden !important;
			z-index: 20;
    }

    .menu-label .hot-menu {
    	background: #ff7878;
    	padding: 4px 6px;
    }

    .menu-label .new-menu {
    	background: #269EA8;
    	padding: 4px 6px;
    }

    .menu-label .hot-menu::after, .menu-label .new-menu::after {
    	background: url("../images/sprite.png");
    	width: 20px;
    	height: 20px;
    	content: "";
    	top: 7px;
    	left: -2px;
    	position: absolute;
    	display: inline-block;
    }

    .menu-label .hot-menu:after {
    	background-position: -104px -613px;
    }

    .menu-label .new-menu:after {
    	background-position: -104px -635px;
    }

    .cart-dropdown ul li a:hover {
    	color: #269EA8;
    }
    .cart-dropdown .cart-list li .media {
    	padding-right: 25px;
    	margin-top: 0;
    }
    .cart-dropdown .media-body span {
    	font-weight: 500;
    	margin-bottom: 5px;
    	font-size: 13px;
    	line-height: 18px;
    	display: inline-block;
    }
    .cart-dropdown .cart-list li .media .pull-left {
    	width: 95px;
    	padding-right: 20px;
    }
    .cart-dropdown .cart-list li .media .pull-left img {
    	max-width: 100%;
    	border: 1px solid #e1e1e1;
    }
    .close-cart {
    	height: 15px;
    	position: absolute;
    	right: 0;
    	top: 0;
    	width: 15px;
    }
    .cart-dropdown .input-text.qty {
    	background-color: transparent;
    	padding: 2px 13px;
    }
    .cart-dropdown .cart-price {
    	font-weight: 500;
    	font-size: 16px;
    	font-family: "Roboto", sans-serif;
    }
    .account-link-dropdown {
    	width: 280px;
    }
    .header-link-dropdown .dropdown-title {
    	color: #ffe400;
    	display: inline-block;
    	font-weight: 600;
    	margin-bottom: 10px;
    	text-transform: uppercase;
    }

    .account-link-dropdown a:hover, .account-link-dropdown a.active {
    	color: #ffe400;
    }
    .account-link-dropdown .link-dropdown-list > li:last-child {
    	border-bottom: none;
    	margin-bottom: 0;
    	padding-bottom: 0;
    }
    /* --- Megamenu Style --- */
    .nav > li {
    	overflow: hidden;
    	position: relative;
    }
    .nav > li:hover {
    	overflow: visible;
    	position: inherit;
    }
    #header .nav > li:first-child a {
    	padding-left: 0;
    }
    #header .nav > li:last-child a {
    	padding-right: 0;
    }
    .megamenu {
    	background: #f7f7f7;
    	border-top: 3px solid #2084ff;
    	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    	color: #a4a4a4;
    	opacity: 0;
    	padding: 20px 30px;
    	position: absolute;
    	top: 100%;
    	z-index: 2;
    }
    .megamenu.full {
    	left: 0;
    	width: 100%;
    }

    .nav > li.level:hover .megamenu {
    	opacity: 1;
    }
    .megamenu-inner-top {
    	display: inline-block;
    	width: 100%;
    }
    .megamenu .sub-menu-level1 li.level2 {
    	float: left;
    	min-width: 200px;
    }
    .megamenu .level2 > a {
    	display: inline-block;
    	margin-right: 35px;
    	color: #2084ff;
    	text-transform: uppercase;
    	font-weight: 600;
    	margin-bottom: 10px;
    	max-width: 100%;
    }
    .megamenu .sub-menu-level2 li.level3 > a {
    	color: #666666;
    	display: inline-block;
    	padding: 3px 0;
    }
    .megamenu .sub-menu-level2 li.level3 > a:hover {
    	color: #2084ff;
    }
    .megamenu .sub-menu-level2 li.level3 > a span {
    	float: left;
    	font-size: 9px;
    	margin-right: 9px;
    	margin-top: -1px;
    }
    .megamenu-inner-top .col-md-10 {
    	padding-right: 30px;
    }
    .megamenu .sub-menu-level1 li.level2:last-child {
    	min-width: 170px;
    }
    /* Main-Header */
    .mobilemenu-content .navbar-nav li:last-child {
    	position: relative;
    }
    .mobilemenu-content .navbar-nav li {
    	display: block;
    }
    .mobilemenu-content li:hover a {
    	color: #ffe400;
    }
    .mobilemenu-content .megamenu {
    	top: 100%;
    	right: 0;
    }
    .position-a.cat-dropdown-main {
    	top: 0;
    	width: 100%;
    	z-index: 2;
    }
    .mobilemenu-title {
    	display: none;
    }

    .mobilemenu-content li {
    	display: inline-block;
    }

    .mobilemenu-content li a {
    	background-color: transparent !important;
    	color: #fff;
    	font-size: 16px;
    	font-weight: 400;
    	letter-spacing: 0.5px;
    	padding: 26px 20px;
    	line-height: 20px;
    	display: inline-block;
    	text-transform: uppercase;
    }

    .mobilemenu-content .megamenu li a {
    	font-size: 14px;
    	text-transform: inherit;
    	font-weight: 400;
    }

    .mobilemenu-content .navbar-nav li.active a {
    	color: #ffe400;
    }

/*_______________________________________________________
// CONTANT  //----------------------------
_______________________________________________________*/

/* - Banner Style  //---------------- */
.banner {
	overflow: hidden;
	position: relative;
	/*margin-top: 128px;*/
	display: inline-block;
	width: 100%;
}

/* main-banner icon start */
.main-banner.owl-carousel .owl-wrapper-outer {
	display: inherit;
	margin-top: 0;
	padding-top: 0;
}

/* Search-Wrap */
.sidebar-search-wrap, .sidebar-cart-wrap {
	background: #ffffff none repeat scroll 0 0;
	border-left: 1px solid #f7f7f7;
	height: 100%;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	z-index: -1;
	width: 100%;
}

.sidebar-table-container {
	height: 100%;
	width: 100%;
}

.sidebar-align-container {
	height: 100%;
	width: 100%;
}

.search-closer, .cart-closer {
	background: url("../images/sprite.png") -53px -1366px;
	height: 30px;
	width: 25px;
	cursor: pointer;
}
.search-container, .cart-container {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	padding: 40px;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	width: 970px;
	max-width: 100%;
	z-index: 2;
}

.cart-container {
	border: 1px solid #dbdbdb;
	width: 1050px;
	text-align: left;
}

.search-container input[type="text"] {
	border-left: medium none;
	border-right: medium none;
	border-top: medium none;
	box-shadow: none;
	color: #000000;
	font-size: 50px;
	font-weight: 700;
	height: auto;
	padding: 18px;
	text-align: center;
	line-height: 65px;
	max-width: 100%;
}
.search-container span {
	color: #777777;
	float: left;
	font-size: 12px;
	letter-spacing: 0.5px;
	margin-top: 27px;
	text-transform: uppercase;
	width: 100%;
}
.sidebar-search-wrap.open, .sidebar-cart-wrap.open {
	opacity: 1;
	z-index: 8;
}
/* main-banner icon end */

.main-banner {
	font-family: 'Roboto', sans-serif;
}

.banner-detail a.btn{
	font-size: 24px;
	font-weight: 700;
	margin-top: 35px;
	text-transform: uppercase;
}

.banner-detail {
	left: 8%;
	position: absolute;
	top: 20%;
	width: 100%;
}
.banner-1 .banner-detail {
	top: 15%;
}

.banner-detail .banner-detail-inner {
	color: #fff;
}
.banner-detail .banner-detail-inner .banner-title {
	color: #2084ff;
	font-size: 60px;
	font-weight: 700;
	line-height: 70px;
	text-transform: none;
}

.banner-2 .banner-detail .banner-detail-inner .banner-title {
	color: #ffe400;
}

.banner-3 .banner-detail .banner-detail-inner .banner-title  {
	color: #1f1f2f;
}

.banner-detail .banner-detail-inner span.slogan {
	color: #1f1f2f;
	display: inline-block;
	font-size: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.banner-1 .banner-detail .banner-detail-inner span.slogan {
	background: #ffe400 none repeat scroll 0 0;
	padding: 10px;
}

.banner-3 .banner-detail .banner-detail-inner span.slogan {
	color: #ffffff;
}


.banner-detail .banner-detail-inner span.offer {
	color: #1f1f2f;
	display: inline-block;
	font-size: 35px;
	font-style: italic;
	font-weight: 400;
	margin-top: 15px;
}

.inner-banner1 {
	background: url(../images/inner-banner1.jpg) no-repeat scroll center center;
	padding: 70px 0 60px;
}

.inner-banner1 .banner-detail {
	display: inline-block;
	position: relative;
	left: 0;
	top: 0 !important;
}
.inner-banner1 .banner-detail h1 {
	display: inline-block;
	color: #fff;
	font-weight: 600;
	font-size: 22px;
	letter-spacing: 1px;
	margin-bottom: 0;
	text-align: left;
}
/* Bread-crumb CSS Start */

.bread-crumb {
	margin-top: 10px;
}

.bread-crumb ul li {
	display: inline-block;
	color: #fff;
}
.bread-crumb ul li a {
	color: #fff;
}
.bread-crumb ul li a, .bread-crumb ul li span {
	margin: 0 10px;
	font-weight: 600;
}
.bread-crumb ul li a:hover {
	color: #269ea8;
}
.bread-crumb ul li:first-child {
	padding-left: 0;
}
.bread-crumb ul li span {
	color: #ffffff;
}
/* Bread-crumb CSS End */

/* - Sub-banner Style  //---------------- */

.sub-banner-effect {
	border: 2px solid #ffe400;
	height: calc(100% - 30px);
	left: 15px;
	opacity: 1;
	position: absolute;
	top: 15px;
	width: calc(100% - 30px);
}

.sub-banner-block .sub-banner:hover img {
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	opacity: 0.6;
}
.sub-banner-block .sub-banner.sub-banner2:hover img {
	opacity: 1;
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
}
.sub-banner {
	position: relative;
	overflow: hidden;
	background: #000;
	display: inline-block;
	max-width: 100%;
}
.sub-banner .sub-banner-detail {
	color: #1f1f2f;
	position: absolute;
	text-align: center;
	top: 30%;
	width: 100%;
}

.sub-banner .sub-banner-detail .sub-banner-title {
	font-size: 35px;
	color: #1f1f2f;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 28px;
}

.sub-banner1 .sub-banner-detail{
	left: 45%;
	text-align: left;
}

.sub-banner.sub-banner2 .sub-banner-detail  {
	text-align: center;
}

.sub-banner.sub-banner3 .sub-banner-detail {
	text-align: left;
}

.sub-banner.sub-banner2 .sub-banner-detail .sub-banner-title, .sub-banner.sub-banner2 .sub-banner-detail .sub-banner-subtitle {
	color: #fff;
}
.banner-top {
	margin-bottom: 15px;
}
.sub-banner.sub-banner3 .sub-banner-detail {
	left: 30px;
}

.sub-banner.sub-banner3 .sub-banner-detail .sub-banner-type {
	margin-top: 20px;
}

.sub-banner.sub-banner4 .sub-banner-detail {
	top: 70%;
}

.sub-banner4 .sub-banner-title {
	margin-bottom: 10px;
}

.sub-banner .sub-banner-detail .sub-banner-subtitle {
	color: #2084ff;
	font-weight: 400;
	margin-bottom: 25px;
	font-size: 25px;
	margin-top: 15px;
}
.sub-banner .sub-banner-detail .sub-banner-type {
	color: #727272;
	font-style: italic;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.sub-banner.sub-banner3 .sub-banner-detail .sub-banner-type {
	text-transform: none;
}
.sub-banner.sub-banner5 .sub-banner-detail .sub-banner-type, .sub-banner.sub-banner7 .sub-banner-detail .sub-banner-type {
	color: #ffe400;
}
.sub-banner .sub-banner-detail .offer {
	color: #282828;
	font-size: 50px;
	font-weight: 700;
}
.sub-banner-subtitle span {
	color: #ffe400;
}

.sub-banner .sub-banner-detail .sub-banner-title span.color {
	color: #bababa;
	line-height: 32px;
}
.sub-banner .sub-banner-detail .sub-banner-title span {
	font-weight: 300;
}

.sub-banner .sub-banner-detail span.line {
	background: #5b5b5b;
	height: 1px;
	width: 90px;
	display: inline-block;
	margin: 30px 0 25px 0;
}
.sub-banner3 .sub-banner-detail span.line {
	margin: 50px 0;
}

.small-banner {
	background: #000 none repeat scroll 0 0;
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

.small-banner:hover img {
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	opacity: 0.6;
}

/* Sub Menu Product part */

.sub-menu-slider .product-item {
	display: inline-block;
	max-width: 100%;
}
.sub-menu-slider .product-image {
	max-width: 100%;
}
.sub-menu-slider .pro_cat {
	min-height: auto !important;
}
.sub-menu-slider .product-item-name a {
	display: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

/* Product Box part */

.heading-part {
	position: relative;
}

.main_title {
	display: inline-block;
	margin-bottom: 0;
}

.main_title span {
	padding: 0 100px 0 0;
	position: relative;
}

.main_title span::after {
	background: #269EA8 none repeat scroll 0 0;
	content: "";
	height: 3px;
	right: 0;
	position: absolute;
	top: 45%;
	width: 80px;
}

.category-bar ul li a.selected {
	pointer-events: none;
}

.category-bar ul li {
	display: inline-block;
}
.category-bar ul li.selected {
	pointer-events: none;
}
.category-bar ul li a {
	display: block;
	padding: 12px;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
.category-bar ul li a.selected {
	background: #269EA8;
	color: #e8e8ff;
}

.category-bar ul li:hover a {
	color: #e8e8ff;
	background: #269EA8;
}

.tab_cat {
	padding: 0 15px;
	position: relative;
}

.pro_cat {
	position: relative;
}
.owl-carousel .owl-wrapper-outer {
	display: inline-block;
	padding-top: 7px;
	margin-top: -7px;
}

.pro_cat .product-slider-main {
	display: none;
}

.pro_cat .product-slider-main.selected {
	display: block;
}

.product-item {
	position: relative;
}

.product-slider .item, .pro_cat .item {
	padding-left: 15px;
	padding-right: 15px;
}
.product-image {
	border: 1px solid #e1e1e1;
	position: relative;
	overflow: hidden;
	min-width: 70px;
}
.product-image img {
	transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
}

.main-label {
	color: #ffffff;
	font-weight: 500;
	line-height: 54px;
	padding-left: 11px;
	position: absolute;
	text-transform: uppercase;
	top: 15px;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	z-index: 1;
}
.sale-label {
	background: #269EA8 none repeat scroll 0 0;
	color: #e8e8ff;
	left: 10px;
}

.new-label {
	background: #2084ff none repeat scroll 0 0;
	right: 10px;
}

.product-item.sold-out::before {
	background: rgba(255,255,255,0.7);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.product-item.sold-out::after {
	background: #fa6b6b;
	content: "Sold out";
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	text-transform: uppercase;
	padding: 10px 15px;
	transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
}

.out-stock {
	background: #fa6b6b none repeat scroll 0 0;
	border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-o-border-radius: 40px;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 20px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 40%;
	z-index: 1;
}

.product-detail-inner {
	background: rgba(206, 211, 212, 0.5019607843137255);
	position: absolute;
	width: 100%;
	bottom: -49px;
	padding: 10px 5px 0;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
}
.product-item:hover .product-detail-inner {
	bottom: 0;
}

.product-item-name {
	margin-bottom: 10px;
}
.product-item-name a {
	display: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.product-item-details {
	margin-top: 20px;
}
.list-type .product-item-details, .product-detail-main .product-item-details {
	text-align: left;
}
.special-products-block .product-item-details {
	margin-top: 0;
}
.shop-list-view:hover .product-item-name a, .product-item:hover .product-item-name a, .special-products-block:hover .product-item-name a, .sidebar-contant ul li:hover .pro-detail-info a {
	color: #000;
}
.product-item-details .price-box .price {
	margin-right: 5px;
}

.price-box {
	display: inline-block;
}

.price-box .price {
	font-size: 20px;
	font-weight: 500;
	color: #000;
}
.product-item-details .price-box .price.old-price {
	font-size: 18px;
	font-weight: 400;
	color: #fa6b6b;
}
.detail-inner-left ul {
	display: inline-block;
}
.product-item .detail-inner-left ul li {
	float: left;
	padding: 0 5PX;
	position: relative;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.product-item .detail-inner-left ul li:last-child {
	padding-right: 0;
}
.detail-inner-left ul li a {
	background: url("../images/sprite.png") no-repeat scroll 0 0;
	display: inline-block;
	height: 25px;
	width: 30px;
	transition: all 0.4s ease 0s;
}

.detail-inner-left.right-side ul li a {
	/*border-right: 1px solid #dfc700;*/
	padding: 0 18px;
}

.detail-inner-left.right-side ul li:last-child a {
	border-right: medium none;
	padding-right: 0;
}

.detail-inner-left ul li button {
	background-color: rgba(0, 0, 0, 0);
	color: #1f1f2f;
	border: medium none;
	display: inline-block;
	font-weight: 500;
	margin-top: 3px;
	padding: 0;
	transition: none 0s ease 0s ;
}

.detail-inner-left ul li button:hover {
	color: #2084ff;
}

.detail-inner-left ul li button span, .cat-box-inner .cart-link button span {
	background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -11px -326px;
	display: inline-block;
	height: 25px;
	margin-bottom: -8px;
	margin-right: 5px;
	transition: all 0.6s ease 0s;
	width: 30px;
}

.cat-box-inner .cart-link button span {
	background-position: -46px -234px;
}

.cat-box-inner .cart-link button:hover span {
	background-position: -46px -266px;
}


.detail-inner-left ul li button:hover span {
	background-position: -11px -360px;
}

.detail-inner-left ul li.pro-wishlist-icon a {
	background-position: -11px -390px;
}
.detail-inner-left ul li.pro-wishlist-icon a:hover {
	background-position: -11px -424px;
}
.detail-inner-left ul li.pro-wishlist-icon.active a {
	background-position: -48px -425px;
}
.detail-inner-left ul li.pro-compare-icon a {
	background-position: -50px -362px;
}
.detail-inner-left ul li.pro-compare-icon a:hover {
	background-position: -50px -392px;
}

.rating-summary-block .rating-result {
	display: inline-block;
	position: relative;
	width: 71px;
}
.rating-summary-block.big .rating-result {
	width: 88px;
}
.rating-summary-block .rating-result:before {
	color: #c7c7c7;
	content: "" "" "" "" "";
	display: block;
	font-family: FontAwesome;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	height: 16px;
	left: 0;
	letter-spacing: 2px;
	line-height: 16px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.rating-summary-block .rating-result > span {
	display: block;
	overflow: hidden;
}
.rating-summary-block .rating-result > span::before {
	color: #ffaf47;
	content: "" "" "" "" "";
	display: block;
	font-family: FontAwesome;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	height: 16px;
	letter-spacing: 2px;
	line-height: 16px;
	position: relative;
	z-index: 1;
}
.rating-summary-block .rating-result:before, .rating-summary-block .rating-result > span:before {
	font-size: 13px;
	height: 13px;
	line-height: 13px;
}
.rating-summary-block.big .rating-result:before, .rating-summary-block.big .rating-result > span:before {
	font-size: 17px;
	height: 17px;
	line-height: 17px;
}

.fotorama__wrap--css3 .fotorama__stage__shaft {
	border: 1px solid #e1e1e1;
	margin-left: -1px;
	width: calc(100% - 1px) !important;
}

.pro-media img {
	border: 1px solid #d6d6d6;
}

.product-slider .owl-prev, .product-slider .owl-next,
#brand-logo .owl-prev, #brand-logo .owl-next,
#our-sell-pro .owl-prev, #our-sell-pro .owl-next,
.banner .owl-prev, .banner .owl-next,
.client-main  .owl-prev, .client-main  .owl-next,
.sub-menu-slider .owl-prev, .sub-menu-slider .owl-next,
.pro_cat .owl-prev, .pro_cat .owl-next {
	background: #f5f5f5;
	position: absolute;
	height: 55px;
	width: 55px;
	text-align: center;
	letter-spacing: 0;
	top: 50%;
	font-size: 0;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

.pro_cat .owl-prev, .pro_cat .owl-next {
	top: -50px;
}

.product-slider .owl-prev, .product-slider .owl-next {
	margin-top: -65px;
	top: 0;
}

.banner .owl-prev, .banner .owl-next {
	background: #fff;
	margin-top: 0;
	transform: translateY(0px);
}

#brand-logo .owl-prev, #brand-logo .owl-next  {
	margin-top: -5px;
}

.product-slider .owl-prev:hover, .product-slider .owl-next:hover,
#brand-logo .owl-prev:hover, #brand-logo .owl-next:hover,
#our-sell-pro .owl-prev:hover, #our-sell-pro .owl-next:hover,
.banner .owl-prev:hover ,.banner .owl-next:hover,
.client-main .owl-prev:hover, .client-main .owl-next:hover,
.sub-menu-slider .owl-next:hover, .sub-menu-slider .owl-prev:hover,
.pro_cat .owl-prev:hover, .pro_cat .owl-next:hover  {
	background: #269EA8;
}

.sub-menu-slider .owl-next {
	top: 40%;
	right: 0px !important;
}

.sub-menu-slider .owl-prev {
	top: 40%;
	left: 0px !important;
}

.banner .owl-next  {
	right: 20px;
}

.banner .owl-prev {
	left: 20px;
}

.pro_cat .owl-next {
	right: 10px;
}

.pro_cat .owl-prev {
	right: 70px;
}


.client-main .owl-next,  #brand-logo .owl-next {
	right: 0;
}

.client-main .owl-prev, #brand-logo .owl-prev {
	left: 0;
}

.product-slider .owl-next {
	right: 10px;
}

.product-slider .owl-prev {
	right: 60px;
}


.product-slider .owl-prev:after, .product-slider .owl-next:after,
#brand-logo .owl-prev:after, #brand-logo .owl-next:after,
#our-sell-pro .owl-prev:after, #our-sell-pro .owl-next:after,
.banner .owl-prev:after, .banner .owl-next:after,
.client-main  .owl-prev:after, .client-main  .owl-next:after,
.sub-menu-slider .owl-prev:after, .sub-menu-slider .owl-next:after,
.pro_cat .owl-prev:after, .pro_cat .owl-next:after   {
	color: #a7a7a7;
	/* content: ""; */
	font-size: 30px;
	line-height: 52px;
	font-family: FontAwesome;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

.product-slider .owl-prev:after, #brand-logo .owl-prev:after,
#our-sell-pro .owl-prev:after, .banner .owl-prev:after,
.client-main  .owl-prev:after, .sub-menu-slider .owl-prev:after, .pro_cat .owl-prev:after {
	content: "";
}
.product-slider .owl-next:after, #brand-logo .owl-next:after,
#our-sell-pro .owl-next:after, .banner .owl-next:after,
.client-main  .owl-next:after, .sub-menu-slider .owl-next:after, .pro_cat .owl-next:after {
	content: "";
}
.product-slider .owl-prev:hover:after, #brand-logo .owl-prev:hover:after,
#our-sell-pro .owl-prev:hover:after, .banner .owl-prev:hover:after,
.client-main  .owl-prev:hover:after, .sub-menu-slider .owl-prev:hover:after,
.pro_cat .owl-prev:hover:after{
	color: #ffffff;
}
.product-slider .owl-next:hover:after, #brand-logo .owl-next:hover:after,
#our-sell-pro .owl-next:hover:after, .banner .owl-next:hover:after,
.client-main  .owl-next:hover:after, .sub-menu-slider .owl-next:hover:after,
.pro_cat .owl-next:hover:after {
	color: #ffffff;
}

/* ------------------ */
.shop-list-view {
	margin-bottom: 30px;
	display: inline-block;
}
.shop-list-view .product-item {
	float: left;
	width: 280px;
	margin-right: 20px;
}
.shop-list-view .product-item-name {
	font-size: 16px;
}
.shop-list-view .price-box {
	margin: 3px 0 15px;
	float: none;
}
.shop-list-view .bottom-detail {
	display: inline-block;
}
.shop-list-view .product-item-details, .product-detail-main .product-item-details {
	margin-top: 0;
}

.bottom-detail ul li {
	display: inline-block;
	padding: 0 5px;
}

.product-detail-main .bottom-detail ul li {
	padding: 0 10px;
	border-right: 1px solid #cccccc;
}

.cart-button .pro-cart-icon {
	margin-top: 9px;
}

.bottom-detail ul li:last-child, .bottom-detail ul li.pro-cart-icon {
	border-right: medium none;
}

.bottom-detail ul li:first-child {
	padding-left: 0;
}

.bottom-detail ul li span {
	background: url(../images/sprite.png) no-repeat scroll 0 0;
	display: inline-block;
	height: 25px;
	width: 30px;
	margin-bottom: -8px;
	margin-right: 7px;
	transition: all 0.4s ease 0s;
}
.bottom-detail ul li.pro-cart-icon span {
	background-position: -45px -233px;
}
.bottom-detail ul li.pro-cart-icon:hover span {
	background-position: -45px -267px;
}

.product-detail-main .bottom-detail ul li.pro-cart-icon span {
	background-position: -91px -354px;
}

.bottom-detail ul li.pro-wishlist-icon span {
	background-position: -50px -301px;
}
.bottom-detail ul li.pro-wishlist-icon:hover span {
	background-position: -50px -335px;
}
.bottom-detail ul li.pro-wishlist-icon.active span {
	background-position: -50px -424px;
}

.bottom-detail ul li.pro-compare-icon span {
	background-position: -14px -462px;
}
.bottom-detail ul li.pro-compare-icon:hover span {
	background-position: -14px -492px;
}

.bottom-detail ul li.pro-email-icon span {
	background-position: -49px -459px;
}
.bottom-detail ul li.pro-email-icon:hover span {
	background-position: -49px -493px;
}

/* Site Services Features Block css Star */
.ser-feature-block {
	background: #f7f7f7 none repeat scroll 0 0;
	padding: 15px;
}

.feature-detail {
	display: inline-block;
	padding-left: 20px;
}

.ser-feature-block .feature-icon  {
	background: url("../images/shipping_icon.png") no-repeat scroll 0 0;
	color: #737373;
	height: 60px;
	width: 60px;
	float: left;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

.ser-feature-block .service-box .ser-title {
	font-size: 20px;
	font-weight: 600;
	margin-top: 5px;
	display: inline-block;
	text-transform: uppercase;
}

.ser-feature-block .service-box:hover .ser-title {
	color: #2084ff;
	cursor: pointer;
}

.ser-feature-block .feature-box:hover .ser-subtitle {
	color: #2084ff;
}
.feature-box .feature-icon.feature1{
	background-position: 6px 14px;
}
.feature-box .feature-icon.feature2 {
	background-position: 6px -134px;
}
.feature-box .feature-icon.feature3 {
	background-position: 6px -280px;
}
/*.feature-box:hover .feature-icon.feature1 {
	background-position: 6px -60px;
}
.feature-box:hover .feature-icon.feature2 {
	background-position: 6px -204px;
}
.feature-box:hover .feature-icon.feature3 {
	background-position: 6px -362px;
	}*/
	/* Site Services Features Block css end */

	/* perellex block css start*/
	.perellex-banner {
		background: rgba(0, 0, 0, 0) url("../images/perellex.html") no-repeat fixed center center;
		font-family: "Roboto", sans-serif;
		color: #1f1f2f;
	}

	.perellex-banner span.line-bottom {
		background: #ffe400 none repeat scroll 0 0;
		display: inline-block;
		height: 5px;
		margin: 5px 0 40px;
		width: 70px;
	}

	.perellex-offer {
		color: #ffe400;
		font-size: 40px;
		text-transform: uppercase;
	}

	.perellex-offer > span {
		font-size: 24px;
	}

	.perellex-title {
		font-size: 60px;
		font-weight: 500;
		line-height: 70px;
		text-transform: uppercase;
	}
	/* perellex block css end */

	/* cat-box css Start */
	.product-slider .heading-part > h2 {
		display: inline-block;
		margin: 0;
		position: relative;
	}

	.product-slider .heading-part span {
		background: #ffe400 none repeat scroll 0 0;
		content: "";
		height: 3px;
		position: absolute;
		right: -100px;
		top: 45%;
		width: 80px;
	}

	.cat-img {
		margin-bottom: 40px;
		position: relative;
		text-align: center;
		overflow: hidden;
	}

	.cat-img span {
		background: #fff;
		color: #2a2931;
		position: absolute;
		bottom: 18px;
		font-size: 18px;
		font-weight: 600;
		width: calc(100% - 80px);
		padding: 13px 0;
		left: 50%;
		transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.cat-img:hover span {
		-ms-transform: translateX(-50%) scale(0.9);
		-webkit-transform: translateX(-50%) scale(0.9);
		-o-transform: translateX(-50%) scale(0.9);
		transform: translateX(-50%) scale(0.9);
	}

	.cat-box-inner .pro-media img {
		transition: none 0s ease 0s;
		-moz-transition: none 0s ease 0s;
		-webkit-transition: none 0s ease 0s;
		-o-transition: none 0s ease 0s;
	}

	.cat-img:hover img, .cat-box-inner li:hover .pro-media img {
		-ms-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		-o-transform: scale(1.5);
		transform: scale(1.5);
	}

	.cat-box-inner .pro-media {
		margin-right: 20px;
		width: 155px;
		overflow: hidden;
	}

	.cat-box-inner ul li {
		display: inline-flex;
		float: left;
		clear: both;
		margin-bottom: 5px;
		padding: 15px 0px;
	}

	.cat-box-inner ul li:first-child {
		padding-top: 0;
	}

	.cat-box-inner ul li:last-child {
		padding-bottom: 0;
	}

	.cat-box-inner .cart-link {
		border-top: 1px solid #dedede;
		margin-top: 20px;
	}

	.cat-box-inner .price-box {
		float: none;
		display: block;
	}

	.cat-box-inner .cart-link button {
		background-color: transparent;
		border: medium none;
		letter-spacing: 0;
		padding: 0;
		margin-top: 15px;
		font-weight: 400;
		opacity: 0;
	}

	.cat-box-inner ul li:hover .cart-link button {
		opacity: 1;
	}

	.cat-box-inner .cart-link button:hover {
		color: #ffe400;
	}
	/* cat-box css End */

	/* Special Product Block css Start */
	.special-products-block {
		position: relative;
		overflow: hidden;
		margin-top: -7px;
		padding-top: 7px;
	}
	.special-products-block .product-item {
		max-width: 338px;
		float: left;
		margin-right: 30px;
	}
	.special-products-block .pro-detail-main {
		margin-left: 368px;
		position: relative;
	}
	.special-products-block .product-item-details .product-item-name {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.special-products-block .product-item-details .price-box .price {
		font-size: 20px;
	}
	.special-products-block .product-item-details .price-box .price.old-price {
		font-size: 16px;
	}
	.special-products-block .rating-summary-block {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.special-products-block .label-review {
		color: #8f8f8f;
		font-size: 12px;
		font-style: italic;
	}

	.special-products-block .bottom-detail .pro-compare-icon {
		margin-top: 10px;
	}
	.special-products-block .pro-detail-main .bottom-detail {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.product-item-details .bottom-detail {
		padding: 10px 0;
	}
	.product-detail-main .product-item-details .product-qty ~ .bottom-detail {
		border: none;
		padding: 0;
	}
	.product-detail-main .product-item-details .bottom-detail {
		display: inline-block;
	}

	#special-pro .owl-prev, #special-pro .owl-next {
		position: absolute;
		top: -85px;
		font-size: 0;
	}
	#special-pro .owl-prev {
		right: 50px;
	}
	#special-pro .owl-next {
		right: 20px;
	}
	#special-pro .owl-prev:after, #special-pro .owl-next:after {
		color: #c2c2c2;
		font-family: FontAwesome;
		font-size: 28px;
		line-height: 55px;
		transition: all 0.4s ease 0s;
		-moz-transition: all 0.4s ease 0s;
		-webkit-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
	}
	#special-pro .owl-prev:hover:after, #special-pro .owl-next:hover:after {
		color: #8a8a8a;
	}
	#special-pro .owl-prev:after {
		content: "";
	}
	#special-pro .owl-next:after {
		content: "";
	}

	.bottom-detail .btn-black {
		margin-top: 9px;
	}
	/* Special Product Block css End */

	/* Custom News Letter CSS Start */
	.newsletter {
		background: #ffe400;
	}
	.newsletter-bg {
		background: rgba(0, 0, 0, 0) url("../images/newsletter-icon.png") no-repeat scroll 0 center;
		padding: 50px 0;
	}

	.newsletter-title {
		margin-top: 10px;
		text-align: center;
	}

	.newsletter-inner span {
		display: inline-block;
		margin-bottom: 60px;
	}
	.newsletter-inner p {
		margin-bottom: 35px;
	}

	.newsletter-box {
		padding-right: 140px;
		position: relative;
	}

	.newsletter .newsletter-inner form button {
		background: #2084ff ;
		color: #fff !important;
		font-size: 20px;
		padding: 20px 22px;
		position: absolute;
		right: 0;
		top: 0;
	}
	.newsletter-inner input {
		background: #f5f5f5;
		border: 1px solid #cccccc;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		padding: 16px;
		width: 100%;
	}
	/* Custom News Letter CSS End */

	/* Testimonial CSS Start */
	.homepage .client-bg {
		background: #2084ff;
		position: relative;
	}

	.client-bg {
		background: url(../images/testimonial-bg.jpg) repeat scroll 0 0;
		position: relative;
	}

	.top-shadow, .bottom-shadow {
		position: absolute;
		width: 100%;
	}
	.top-shadow {
		top: -10px;
	}

	.bottom-shadow {
		bottom: -8px;
	}

	.homepage .client-img {
		margin-right: 0;
		width: 100%;
		text-align: center;
	}

	.client-img {
		margin-right: 40px;
	}

	.homepage .client-main .owl-carousel .owl-wrapper-outer {
		padding-top: 30px;
		margin-top: 0;
	}

	.client-main .item {
		display: inline-block;
		padding-bottom: 60px;
	}
	.client-main .item p {
		color: #666666;
		font-size: 20px;
		line-height: 35px;
		font-weight: 300;
		margin: 0;
	}

	.homepage .client-main .item p {
		color: #deeaf8;
	}

	.quote1-img {
		text-align: left;
	}

	.quote2-img {
		text-align: right;
	}

	.client-img img{
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-o-border-radius: 50%;
		border:  1px solid #2084ff;
		display: inline-block;
		overflow: hidden;
	}

	.designation {
		color: #221b1f;
		font-size: 20px;
		font-style: italic;
	}

	.homepage .designation {
		color: #ffe400;
	}

	.quote {
		border-left: 1px solid #e1e1e1;
		max-width: 670px;
		position: relative;
		padding: 20px 40px;
	}

	.homepage .quote {
		border: none;
		padding: 0 20px;
	}

	.homepage .client-main .item .client-title {
		font-size: 20px;
		font-weight: 300;
		margin-top: 20px;
		text-transform: none;
	}

	.client-main .item .client-title {
		color: #2084ff;
		font-size: 20px;
		font-weight: 300;
		margin-top: 40px;
		text-transform: none;
	}

	.homepage .client-main .item .client-title {
		color: #fff;
	}

	.owl-pagination {
		display: inline-block;
		margin-top: 20px;
	}
/*.homepage .owl-pagination {
	margin-bottom: 15px;
	}*/
	.owl-pagination .owl-page {
		float: left;
		margin: 0 3px;
	}
	.owl-pagination .owl-page {
		border: 2px solid #269EA8;
		border-radius: 50%;
		cursor: pointer;
		height: 16px;
		width: 16px;
	}

	.owl-pagination .owl-page > span {
		background: #fff;
		display: block;
	}

	.owl-pagination .owl-page.active > span, .owl-pagination .owl-page:hover > span {
		background: #269EA8 none repeat scroll 0 0;
		border: 2px solid #ffffff;
	}

	.homepage .client-main .owl-pagination .owl-page span {
		background-color: transparent;
		border: 2px solid #ffe400;
		height: 15px;
		width: 15px;
	}

	.homepage .client-main .owl-pagination .owl-page:hover span, .homepage .client-main .owl-pagination .owl-page.active span {
		border: 2px solid #ffe400;
		background: #ffe400;
	}


	.owl-controls .owl-pagination {
		position: absolute;
		bottom: 20px;
		text-align: center;
		left: 50%;
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-0-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.owl-pagination .owl-page {
		float: left;
		margin: 0 3px;
	}

	.owl-pagination .owl-page > span {
		height: 12px;
		width: 12px;
		border-radius: 50%;
	}

	.client-main .owl-controls .owl-pagination {
		padding-top: 20px;
	}

	.client-main {
		position: relative;
		overflow: hidden;
	}
	.client-main .owl-buttons {
		display: none;
	}
	/* Testimonial CSS End */

	/* Blog CSS Start */
	.blog-listing .blog-item {
		margin-bottom: 30px;
	}

	.blog-media {
		overflow: hidden;
		background: #000;
		position: relative;
	}
	.blog-item .blog-media img {
		transition: all 0.4s ease-in-out 0s;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-moz-transition: all 0.4s ease-in-out 0s;
		-o-transition: all 0.4s ease-in-out 0s;
	}
	.blog-item:hover .blog-media img {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
		opacity: 0.5;
		filter: alpha(opacity=50);
	}
	.blog-item a.read {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all 0.4s ease 0s;
		-moz-transition: all 0.4s ease 0s;
		-webkit-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
	}
	.blog-title {
		margin-bottom: 10px;
	}

	.blog-title > a {
		color: #1f1f2f;
		font-size: 16px;
		font-weight: 500;
	}


	.blog-title > a:hover {
		color: #ffe400;
	}

	.blog-detail > span {
		color: #1f1f2f;
		font-style: italic;
	}

	.blog-item:hover a.read {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.blog-item a.read:after {
		content: "";
		display: inline-block;
		font-family: "FontAwesome";
		font-size: 16px;
		border: 2px solid #fff;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-o-border-radius: 50%;
		color: #ffffff;
		height: 45px;
		width: 45px;
		padding: 10px;
		text-align: center;
	}
	.homepage .blog-detail {
		margin-top: 30px;
	}

	.post-date {
		color: #ffe400;
		font-style: italic;
	}
	.blog-detail p {
		margin-bottom: 10px;
	}
	.blog-detail .post-info {
		margin-top: 15px;
	}
	.blog-detail .post-info ul li {
		display: inline-block;
		margin-right: 15px;
		font-style: italic;
	}
	.blog-detail .post-info ul li a {
	}
	/* Blog CSS End */


	/* Brand-Logo CSS Start */
	.brand-logo {
		border-top: 1px solid #e1e1e1;
	}

	.brand .item {
		text-align: center;
	}
	.brand .item img {
		opacity: 0.5;
	}
	.brand .item img:hover {
		opacity: 1;
	}
	/* Brand-Logo CSS End */

	/* Sidebar CSS Start */
	.gray-box {
		padding-bottom: 25px;
	}
	.sidebar-title {
		padding-bottom: 10px;
		margin-bottom: 15px;
		position: relative;
	}

	.sidebar-block .sidebar-box {
		position: relative;
	}

	.sidebar-title h3 {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 0;
	}

	.sidebar-title span {
		background: #269ea8 none repeat scroll 0 0;
		height: 3px;
		position: absolute;
		bottom: 0;
		width: 70px;
	}

	.listing-box ul li {
		border-bottom: 1px solid #e1e1e1;
	}
	.listing-box ul li:last-child {
		border-bottom: none;
	}
	.listing-box ul li a {
		padding: 6px 0px;
		display: inline-block;
		width: 100%;
	}
	.listing-box ul li:first-child a {
		padding-top: 0;
	}

	.size ul li {
		margin-bottom: 3px;
	}

	.inner-title {
		color: #000;
		margin-bottom: 8px;
		display: inline-block;
		font-weight: 600;
		text-decoration: underline;
	}

	.sidebar-item ul li {
		display: inline-flex;
		padding: 7px 0px;
	}
	.sidebar-item ul li:first-child {
		padding-top: 0;
	}
	.sidebar-item .pro-media {
		padding: 0 15px 0 0;
		width: 120px;
	}
	.sidebar-item-wide .pro-media {
		width: 110px;
	}
	.pro-detail-info .price-box .price {
		color: #000;
		font-size: 18px;
		font-weight: 600;
		margin-right: 5px;
	}
	.pro-detail-info .rating-summary-block {
		padding: 0;
	}
	.sidebar-item .cart-link button {
		background-color: transparent;
		border: none;
		padding: 0;
		font-size: 13px;
		letter-spacing: 0;
		font-weight: 400;
		text-transform: uppercase;
	}
	.sidebar-item .cart-link button:hover {
		color: #2084ff;
	}
	/* Sidebar CSS END */

	/* Sorting CSS Start */
	.shorting {
		border-bottom: 1px solid #ededed;
		padding-bottom: 15px;
	}
	.shorting .view {
		float: left;
		margin-right: 20px;
	}
	.list-types {
		display: inline-flex;
		float: left;
		margin: 3px 0px 0;
		padding: 0 5px;
	}
	.list-types.grid {
		border-right: 1px solid #dedede;
	}
	.list-types-icon {
		background: url(../images/grid-list.png) no-repeat scroll 0 0;
		display: inline-block;
		height: 25px;
		width: 36px;
	}
	.grid-icon {
		background-position: 0 -6px;
	}
	.list-icon {
		background-position: -65px -6px;
	}
	.grid-icon:hover, .list-types.active .grid-icon {
		background-position: 0 -39px;
	}
	.list-icon:hover, .list-types.active .list-icon {
		background-position: -65px -39px;
	}
	.list-types a {
		display: inline-flex;
	}
	.shorting select {
		font-size: 14px;
	}
	.short-by, .select-item {
		float: left;
		position: relative;
	}
	.short-by > span, .show-item > span {
		float: left;
		margin: 5px 10px 3px;
	}
	.compare {
		float: right;
	}
	.compare .btn {
		padding: 9px 15px;
	}
	.pagination-bar {
		text-align: center;
		margin-top: 20px;
	}
	.pagination-bar ul {
		display: inline-flex;
	}
	.pagination-bar ul li {
		float: left;
		margin: 0 2px;
	}
	.pagination-bar ul li a {
		background: #f0f0f0;
		height: 35px;
		width: 35px;
		display: inline-block;
		line-height: 35px;
		text-align: center;
	}
	.pagination-bar ul li.active a {
		background: #269ea8;
		color: #ffffff;
	}
	/* Sorting CSS End */

	/* Product Detail Page Start */

	/* -- Product Zoom Slider Start -- */
	.fotorama__nav--thumbs {
		margin-top: 15px;
	}
	.fotorama__nav__frame.fotorama__nav__frame--thumb {
		height: auto !important;
		margin: 0 8px;
		opacity: 0.3;
	}
	.fotorama__nav__frame.fotorama__nav__frame--thumb.fotorama__active {
		opacity: 1;
	}
	.fotorama__img {
		position: relative;
		top: 0 !important;
	}
	.fotorama__thumb-border {
		display: none !important;
	}
	.fotorama__nav::before, .fotorama__stage::before {
		background-image: none;
	}
	.fotorama__nav::after, .fotorama__stage::after {
		background-image: none;
	}
	/* -- Product Zoom Slider End -- */

	.product-detail-main .product-item-details .product-item-name {
		font-size: 22px;
		font-family: "Roboto", sans-serif;
		margin-bottom: 0;
		text-transform: capitalize;
	}
	.product-listing .shop-list-view .product-item {
		margin-bottom: 0;
	}
	.product-detail-main .price-box .price {
		font-size: 22px;
	}
	.product-detail-main .rating-summary-block {
		margin-bottom: 20px;
	}
	.product-info-stock-sku {
		margin-top: 5px;
		margin-bottom: 15px;
	}
	.product-info-stock-sku > div {
		display: inline-block;
		margin-right: 20px;
	}
	.product-info-stock-sku label {
		font-weight: 400;
	}
	.product-info-stock-sku .price-box {
		display: inline-block;
	}
	.product-info-stock-sku .info-deta {
		text-transform: uppercase;
		font-weight: bold;
	}
	.form-control {
		border-color: #dedede;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		-o-border-radius: 0px;
		height: 40px;
	}
	.form-control:focus {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-color: #ccc;
	}
	.product-qty {
		float: left;
		margin-right: 20px;
		margin-top: 10px;
	}
	.custom-qty {
		display: inline-flex;
	}
	.increase.items, .reduced.items {
		background: transparent;
		border: 1px solid #dedede;
		color: #888;
		padding: 13px 15px 12px;
		float: left;
	}
	.input-text.qty {
		border: 1px solid #dedede;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		max-width: 50px;
		padding: 4px 13px;
		float: left;
		text-align: center;
		margin: 0 5px;
	}
	.share-link {
		margin-top: 30px;
	}
	.share-link label {
		font-weight: 400;
		float: left;
		margin-top: 6px;
		margin-right: 10px;
	}

	.brand-logo-pro {
		background: #f5f5f5 none repeat scroll 0 0;
	}

	/* Product Page Tab CSS Start */
	.nav-tabs {
		border-bottom: 1px solid #e1e1e1;
	}
	.nav-tabs > li > a {
		border-color: #eee #eee #ddd;
	}
	.product-detail-tab {
		transition: all 0.4s ease 0s;
		-moz-transition: all 0.4s ease 0s;
		-webkit-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
	}
	.product-detail-tab .nav > li > a {
		background-color: transparent;
		text-decoration: none;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		border: none;
		margin-bottom: 10px;
		font-family: "Roboto", sans-serif;
		font-size: 20px;
		letter-spacing: -0.5px;
	}
	.nav-tabs > li > a.selected, .nav-tabs > li > a.selected:hover, .nav-tabs > li > a.selected:focus {
		background: #2084ff;
		border: medium none;
		color: #fff;
	}
	.tab_content {
		border-bottom: 1px solid #e1e1e1;
		padding: 20px 0;
	}
	.product-listing .tab_content {
		padding: 0;
		border: none;
	}
	.Description, .items-Product-Tags, .items-Reviews, .comments-area-main {
		line-height: 25px;
	}
	.tab_content ul li strong {
		font-weight: 500;
		color: #222;
	}
	.items-Description, .items-Product-Tags, .items-Reviews {
		display: none;
	}
	.items-Description.selected, .items-Product-Tags.selected, .items-Reviews.selected {
		display: block;
	}
	/* Product Page Tab CSS End */

	/* --------------- Comment CSS START ------------------ */
	.comment-list > li {
		padding-top: 20px;
		border-top: 1px solid #e1e1e1;
	}
	.comments-area > .comment-list > li:first-child {
		border: none;
		padding-top: 0;
	}
	.comment-user {
		float: left;
		margin-right: 20px;
	}
	.comment-detail {
		display: table-cell;
		padding-bottom: 10px;
	}
	.comment-detail .user-name {
		text-transform: uppercase;
		color: #232323;
		font-size: 13px;
		font-weight: bold;
		line-height: 1.1;
	}
	ul.child-comment {
		margin-left: 63px;
	}
	.comment-detail .post-info ul {
		display: inline-flex;
	}
	.comment-detail .post-info ul li {
		float: left;
		margin-right: 15px;
		font-size: 14px;
		padding: 0;
	}

	.shop-list-view .product-item-details {
		display: table-cell;
		position: relative;
		text-align: left;
	}

	.shop-list-view ul li button {
		background-color: rgba(0, 0, 0, 0);
		border: medium none;
		color: #232323;
		display: inline-block;
		padding: 0;
		transition: none 0s ease 0s ;
	}

	.shop-list-view .detail-inner-left {
		display: inline-block;
		padding: 0 0 10px;
		width: 100%;
	}
	/* --------------- Comment CSS End ------------------ */

	/* Product Detail Page CSS End */

	/* checkbox CSS Start */
	.checkbox + label, .radio-button + label {
		cursor: pointer;
		line-height: 17px;
		padding-left: 25px;
		position: relative;
	}

	.checkbox:checked + label::before {
		background: #2282f9 none repeat scroll 0 0;
		border-color: #2282f9;
	}

	.checkbox + label::before, .radio-button + label::before, .checkbox + label::after {
		content: "";
		height: 17px;
		left: 0;
		position: absolute;
		top: 0;
		width: 17px;
	}

	.checkbox + label::before, .radio-button + label::before {
		background: #ffffff none repeat scroll 0 0;
		border: 2px solid #d7d7d7;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-o-border-radius: 2px;
	}

	.checkbox + label::after {
		background-image: url("../images/check-box-icon.png");
		background-repeat: no-repeat;
		margin-left: 3px;
		margin-top: 3px;
	}

	.checkbox + label::before, .radio-button + label::before, .checkbox + label::after {
		content: "";
		height: 17px;
		left: 0;
		position: absolute;
		top: 0;
		width: 17px;
	}
	/* checkbox CSS End */

	.checkout-section .input-box {
		margin-bottom: 23px;
	}

	.check-box.left-side {
		margin-top: 10px;
	}
	.forgot-password {
		color: #0040a5;
		text-decoration: underline;
		font-weight: 600;
		display: inline-block;
	}
	.contact-info .p-0 {
		border-right: 1px solid #e1e1e1;
	}
	.contact-info .p-0:last-child {
		border: medium none;
	}

	/* Cart Page CSS Start */
	.commun-table th span {
		float: left;
		font-size: 14px;
		font-weight: 400;
		clear: both;
	}
	.commun-table td .product-title {
		min-width: 300px;
	}
	table.table {
		border: 15px solid #f5f5f5;
		border-top: none;
		margin-bottom: 0;
	}
	.complete-order-detail table.table {
		border-top: 15px solid #f5f5f5;
	}
	.commun-table .table thead tr th {
		background: #f5f5f5;
		border-bottom: none;
		padding: 22px 20px;
	}
	.cart-item-table .table tbody tr td {
		padding: 20px 25px;
		vertical-align: middle;
	}
	.cart-total-table .table tbody tr td {
		padding: 10px 25px;
		vertical-align: middle;
	}
	.cart-total-table .table thead tr th {
		padding: 15px 25px;
		vertical-align: middle;
	}
	.commun-table .table tbody tr:first-child td {
		border-top: medium none;
	}
	.cart-item-table thead tr th:first-child, .cart-item-table tbody tr td:first-child {
		max-width: 110px;
	}
	.cart-item-table tbody tr td:last-child, .cart-item-table thead tr th:last-child {
		text-align: center;
	}
	.commun-table th ul li {
		text-align: left;
		float: left;
		margin-right: 30px;
	}
	.commun-table th ul li .price {
		font-size: 14px;
	}
	.commun-table th ul li:last-child {
		margin-right: 0;
		float: right;
	}
	.complete-order-table tbody tr td:last-child, .complete-order-table thead tr th:last-child {
		text-align: left;
	}
	.commun-table .table tbody tr td i.cart-remove-item {
		color: #ff0000;
		font-size: 18px;
		cursor: pointer;
	}
	.commun-table tbody tr td .input-box select {
		width: 100px;
		padding: 5px;
	}
	.cart-total-table .table tbody tr td b {
		font-size: 16px;
		color: #222;
	}
	.cart-total-table .table tbody tr td .price {
		color: #222;
		font-size: 14px;
		font-weight: 500;
	}
	.estimate select {
		padding: 12px 10px;
	}
	/* Cart Page CSS End */

	/* Checkout Page CSS Start */
	.checkout-step {
		display: inline-block;
		width: 100%;
	}
	.checkout-step ul {
		display: table;
		margin: 0px auto 25px;
	}
	.checkout-step ul li {
		float: left;
		font-size: 15px;
		color: #ffe400;
		cursor: pointer;
	}
	.checkout-step ul li .step {
		float: left;
	}
	.checkout-step ul li .step .circle {
		background: #2084ff;
		color: #fff;
		display: inline-block;
		width: 32px;
		height: 32px;
		padding: 3px 11px;
		font-weight: 500;
		font-size: 16px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
	}
	.checkout-step ul li .step .line {
		background: #2084ff none repeat scroll 0 0;
		float: left;
		height: 7px;
		margin: 12px -1px 12px 0;
		width: 65px;
	}
	.checkout-step ul li:first-child .step .line {
		-webkit-border-radius: 3px 0px 0px 3px;
		-moz-border-radius: 3px 0px 0px 3px;
		-o-border-radius: 3px 0px 0px 3px;
		border-radius: 3px 0px 0px 3px;
		width: 65px;
	}
	.checkout-step ul li:last-child .step .line {
		-webkit-border-radius: 0px 3px 3px 0px;
		-moz-border-radius: 0px 3px 3px 0px;
		-o-border-radius: 0px 3px 3px 0px;
		border-radius: 0px 3px 3px 0px;
		width: 65px;
		background: #222;
	}
	.checkout-step ul li span {
		color: #2084ff;
		display: inline-block;
		padding: 6px 15px 6px 6px;
		line-height: 20px;
	}
	.checkout-step ul li.step-done {
		color: #26537f;
	}
	.checkout-step ul li.active {
		color: #2084ff;
	}
	.checkout-step ul li.step-done .step .circle, .checkout-step ul li.step-done .step .line {
		background: #26537f;
	}
	.checkout-step ul li.active .step .circle, .checkout-step ul li.active .step .line {
		background: #2084ff;
	}
	.checkout-step li.active + li .circle, .checkout-step li.active + li + li .circle, .checkout-step li.active + li + li + li .circle, .checkout-step li.active + li .line, .checkout-step li.active + li + li .line, .checkout-step li.active + li + li + li .line {
		background: #222;
	}
	.checkout-step li.active + li span, .checkout-step li.active + li + li span, .checkout-step li.active + li + li + li span {
		color: #222;
	}
	.heading-bg h2.heading {
		background: #f0f0f0;
		padding: 8px 17px;
	}
	.checkout-section h2.heading {
		font-family: "Raleway", sans-serif;
		letter-spacing: 1px;
		font-weight: 500;
	}
	.payment-option-box {
		padding: 20px;
		border: 1px solid #e1e1e1;
	}
	.payment-option-box-inner {
		padding: 20px;
		display: inline-block;
		width: 100%;
	}
	.payment-top-box {
		display: inline-block;
		width: 100%;
		margin-bottom: 20px;
	}
	.paypal-box {
		border: 1px solid #ddd;
		float: left;
		padding: 10px;
		position: relative;
		margin-left: 10px;
	}
	.paypal-top {
		background: #f5f5f5;
		position: absolute;
		top: -15px;
		left: 5px;
		padding: 0 10px;
	}
	/* Checkout Page CSS Start */

	/* Login Register Page CSS Start */
	.new-account .link {
		text-decoration: underline;
		color: #222;
	}
	.new-account .link:hover {
		color: #ffe400;
	}
	/* Login Register Page CSS Start */

	/* Account Page CSS Start */
	.account-tab > .tab-title-bg {
		display: inline-block;
		padding: 10px 15px;
		width: 100%;
	}
	.account-tab > span .sub-title {
		font-size: 18px;
	}
	.account-sidebar .sub-title span {
		background: url("../images/sprite.png") no-repeat scroll -97px -456px;
		display: inline-block;
		height: 21px;
		margin-bottom: -5px;
		width: 21px;
	}
	.account-sidebar.account-tab .account-tab-inner {
		padding: 0px;
		background: #f0f0f0 none repeat scroll 0 0;
	}
	.account-sidebar.account-tab > .tab-title-bg {
		padding: 12px 15px;
	}
	.account-sidebar ul {
		width: 100%;
	}
	.account-sidebar ul li {
		border-bottom: 1px solid #dcdcdc;
		position: relative;
	}
	.account-sidebar ul li:last-child {
		border-bottom: none;
	}
	.account-sidebar ul li a {
		padding: 8px 15px;
		display: inline-block;
		width: 100%;
	}
	.account-sidebar ul li a .fa {
		position: absolute;
		right: 15px;
		top: 12px;
		transition: all 0.4s ease 0s;
		-moz-transition: all 0.4s ease 0s;
		-webkit-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
	}
	.account-sidebar ul li a:hover {
		color: #26537f;
	}
	.account-sidebar ul li.active a, .account-sidebar ul li:hover a {
		color: #fff;
		background: #2084ff none repeat scroll 0 0
	}
	.account-sidebar ul li.active a .fa, .account-sidebar ul li:hover a .fa {
		color: #fff;
		right: 0px;
	}
	.account-sidebar ul li.active a::after, .account-sidebar ul li:hover a::after {
		border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2084ff;
		border-style: solid;
		border-width: 20px 22px 20px 15px;
		top: 0px;
		content: "";
		right: -36px;
		position: absolute;
	}
	.account-content {
		padding: 0px 30px;
	}
	.account-content .heading-section {
		display: inline-block;
		width: 100%;
	}
	.account-content .heading-section .heading {
		padding: 2px 0px;
	}
	.account-content .heading-section .common-btn {
		margin-top: -4px;
	}
	.account-content p, .address-box p {
		margin-bottom: 0px;
		margin-top: 5px;
	}
	.account-content hr {
		margin-top: 5px;
	}
	.address-box .inner-heading {
		margin-bottom: 10px;
	}
	/* Account Page CSS Start */

	/* Blog Page CSS Start */
	.sidebar-box .search-box input.input-text {
		background: #fff none repeat scroll 0 0;
		border: 1px solid #e1e1e1;
		border-radius: 5px;
		-moz-border-radius : 5px;
		-webkit-border-radius : 5px;
		-o-border-radius : 5px;
		opacity: 1;
		padding: 8px;
		position: relative;
		width: 100% !important;
	}
	.sidebar-box .search-box button.search-btn {
		border-radius: 0 5px 5px 0;
		-moz-border-radius : 0 5px 5px 0;
		-webkit-border-radius : 0 5px 5px 0;
		-o-border-radius : 0 5px 5px 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	/* Blog Page CSS Start */

	/* About Page CSS Start */
	.about-title {
		color: #6b6b6b;
		font-size: 35px;
		font-weight: 300;
		line-height: 55px;
	}

	.about-detail h2.heading {
		font-weight: 500;
		letter-spacing: 1px;
		line-height: 32px;
		text-transform: none;
	}
	.partner-detail-main {
		height: 100%;
	}

	.partner-block  {
		display: inline-flex;
		overflow: hidden;
	}

	.partner-block ul {
		margin-bottom: -1px;
	}

	.partner-block ul li {
		border-bottom: 1px solid #f0f0f0;
		border-right: 1px solid #f0f0f0;
		float: left;
		width: 33.33%;
		text-align: center;
		padding: 16px;
	}
	.partner-block ul li:nth-child(3n) {
		border-right: none;
	}

	.partner-block ul li span {
		display: inline-block;
		padding: 23px 0;
		width: 100%;
		opacity: 0.5;
		transition: all 0.4s ease 0s;
	}

	.partner-block ul li span:hover {
		opacity: 0.8;
	}

	.partner-block ul li.owner-logo span {
		opacity: 1;
		filter: grayscale(100%);
	}

	.partner-block ul li.owner-logo span:hover {
		background-color: transparent;
		filter: grayscale(0%);
	}
	.team-item {
		position: relative;
		overflow: hidden;
		transition: all 0.4s ease-in-out 0s;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-moz-transition: all 0.4s ease-in-out 0s;
		-o-transition: all 0.4s ease-in-out 0s;
	}
	.team-item:hover {
		background: #6b6b6b;
	}
	.team-item:hover img {
		opacity: 0.2;
		transform: scale(1.1);
	}
	.team-item .team-item-detail {
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: -40px;
		opacity: 0;
		transition: all 0.4s ease-in-out 0s;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-moz-transition: all 0.4s ease-in-out 0s;
		-o-transition: all 0.4s ease-in-out 0s;
	}
	.team-item:hover .team-item-detail {
		opacity: 1;
		bottom: 30px;
	}
	.team-slider {
		position: relative;
	}
	#team-slider .owl-item .item {
		padding: 0 15px;
	}
	.customNavigation .btn {
		background: #f6f6f6;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-o-border-radius: 0;
		position: absolute;
		top: 50%;
		transition: all 0.4s ease-in-out 0s;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-moz-transition: all 0.4s ease-in-out 0s;
		-o-transition: all 0.4s ease-in-out 0s;
	}
	.customNavigation .btn:hover {
		background: #dcbd71;
	}
	.customNavigation .btn.next {
		right: -40px;
	}
	.customNavigation .btn.prev {
		left: -40px;
	}
	.customNavigation .btn i.fa {
		color: #333;
		font-size: 20px;
	}

	.team-item .sub-title {
		color: #fff;
	}

	.listing-effect .social_icon {
		margin-top: 25px;
		transition: all 0.4s ease-in-out 0s;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-moz-transition: all 0.4s ease-in-out 0s;
		-o-transition: all 0.4s ease-in-out 0s;
	}
	.listing-effect:hover .social_icon {
		margin-top: 5px;
	}
	.listing-effect .social_icon ul li {
		display: inline-block;
		margin: 0 3px;
	}
	.listing-effect .social_icon ul li i.fa {
		color: #bebebe;
		font-size: 20px;
		height: 40px;
		width: 40px;
		padding: 11px 0;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-o-border-radius: 50%;
	}

	.listing-effect .social_icon ul li a i.fa:hover {
		color: #fff;
	}
	.listing-effect .social_icon ul li a i.fa.fa-facebook:hover {
		background: #3b5998;
	}
	.listing-effect .social_icon ul li a i.fa.fa-twitter:hover {
		background: #00aced;
	}
	.listing-effect .social_icon ul li a i.fa.fa-dribbble:hover {
		background: #f7679a;
	}
	.listing-effect .social_icon ul li a i.fa.fa-pinterest:hover {
		background: #cb2027;
	}
	.listing-effect .listing-meta {
		color: #bebebe;
	}



	/* About Page CSS End */

	/* 404 Page CSS Start */
	.error-block {
		min-height: 965px;
		position: relative;
		overflow: hidden;
	}
	.error-block > img {
		height: auto;
		left: -100%;
		margin: auto;
		position: absolute;
		right: -100%;
		top: 0;
	}
	.error-block-detail {
		text-align: center;
	}
	.error-block-bg {
		background: url(../images/404-bg.jpg) no-repeat scroll left top;
	}
	.error-block-detail .main-error-text {
		font-family: "Poppins", sans-serif;
		font-size: 230px;
		color: #222;
		line-height: 180px;
		font-weight: 500;
		margin-bottom: 60px;
	}
	.error-small-text {
		font-size: 35px;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
	.error-slogan {
		font-size: 25px;
		font-weight: 300;
		margin-bottom: 30px;
		line-height: 30px;
	}
	.error-block-detail .social_icon {
		margin-bottom: 20px;
	}
	.big-btn a {
		display: inline-block;
		color: #000;
		background: #dcbd71;
		padding: 20px 50px;
		font-size: 14px;
	}
	.big-btn a:hover {
		background: #fff;
	}
	/* 404 Page CSS End */

	/* Contact Page CSS Start */
	.map .map-part .map-inner-part {
		min-height: 450px;
		width: 100%;
	}
	.contact-box .contact-icon {
		height: 27px;
		width: 27px;
		display: inline-block;
		background: url(../images/sprite.png) no-repeat scroll 0 0;
	}
	.contact-box span {
		display: inline-block;
		font-size: 15px;
		color: #1f1f1f;
		line-height: 1.1;
		margin-bottom: 20px;
		width: 100%;
	}
	.contact-box p {
		margin-bottom: 0;
	}
	.contact-box .contact-phone-icon {
		background-position: -101px -502px;
	}
	.contact-box .contact-mail-icon {
		background-position: -101px -543px;
	}
	.contact-box .contact-open-icon {
		background-position: -101px -583px;
	}
	.contact-info .no-padding {
		border-right: 1px solid #e1e1e1;
	}
	.contact-info .no-padding:last-child {
		border: none;
	}
	/* Contact Page CSS End */

	/* Wishlist Page CSS Start */

	.commun-table td .product-title .size-text{
		font-size: 11px;
		color: #7e7e7e;
		font-weight: bold;
		padding: 5px 0px;
	}
	.commun-table td .product-title .size-text span{
		color: #000;
		padding: 5px 0px;
		display: inherit;
	}

	/* Wishlist Page CSS End */

	/* Compare Page CSS Start */
	.compare-infomation{
		overflow-x:auto;
		overflow-y:hidden;
		margin-bottom:80px;
	}
	.compare-info{
		/* margin-top:25px; */
		width:100%;
		max-width:100%;
		border: 15px solid #f5f5f5;
		text-align: center;
	}
	.compare-info td{
		padding:22px 28px;
		border:1px solid #ebebeb;
		vertical-align:middle;
	}
	.compare-info td.name, .compare-info td.description{
		vertical-align:top;
	}
	.compare-info td:first-child{
		padding:22px 20px;
		text-transform:uppercase;
		font-weight:700;
		vertical-align:middle;
	}
	.compare-info .image img{
		max-width:180px;
		border:0px;
	}
	.compare-info .image{
		position:relative;
	}
	.compare-info .image a{
		position:absolute;
		top:22px;
		right:40px;
		color:#dcdcdc;
	}
	.compare-info .image a:hover{
		color:#303030
	}
	.compare-info .availability{
		color:#2084ff;
		/* font-style:italic; */
	}
	.compare-info .description{
		line-height:1.55em;
	}
	.compare-info .price{
		margin-bottom:20px;

	}
	.compare-info .btn-cart{
		margin-bottom: 15px;
	}
	.compare-info .btn-cart , .compare-info .btn-wishlist {
		width: 100%;
	}
	.compare-info .btn-cart i, .compare-info .btn-wishlist i{
		font-size: 16px;
		margin-right: 5px;
		vertical-align: top;
		line-height: 20px;
	}

	.compare-info thead tr th:first-child, .compare-info tbody tr td:first-child {
		max-width: 160px;
	}

	/* Compare Page CSS End */

/*_______________________________________________________
// FOOTER  //----------------------------
_______________________________________________________*/
.footer {
	padding: 50px 0 0;
	background: #fafafa;
}
.footer, .footer a, .footer p {
	color: #878787;
	font-size: 16px;
}
.footer a:hover {
	color: #2084ff;
}
.footer-top {
	padding: 32px 0px;
}
.footer-middle .f-logo {
	margin-bottom: 20px;
}

.footer-middle-left {
	border-right: 1px solid #e1e1e1;
}

.footer-middle-right {
	padding-left: 50px;
}

.footer-top p {
	color: #a4a4a4;
	line-height: 20px;
	margin-bottom: 0;
	margin-left: 240px;
}
ul.social-icon li {
	display: inline-block;
}
ul.social-icon li i.fa {
	color: #fff;
	background: #a4a4a4;
	padding: 11px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	font-size: 22px;
	height: 45px;
	width: 45px;
	text-align: center;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
.social-link ul.social-icon li i.fa {
	font-size: 18px;
	height: 36px;
	width: 36px;
	padding: 10px;
}

.footer_social, .payment {
	text-align: right;
}

ul.social-icon li i.fa:hover {
	color: #fff;
}
ul.social-icon li i.fa.fa-facebook:hover {
	background: #3b5998;
}
ul.social-icon li i.fa.fa-twitter:hover {
	background: #1dcaff;
}
ul.social-icon li i.fa.fa-linkedin:hover {
	background: #0077b5;
}
ul.social-icon li i.fa.fa-rss:hover {
	background: #ff6600;
}
ul.social-icon li i.fa.fa-pinterest:hover {
	background: #c8232c;
}

.footer-static-block .title {
	font-size: 28px;
	letter-spacing: 1px;
	margin-bottom: 25px;
	font-weight: 600;
}

.footer .title > span {
	border-bottom: 3px solid #2084ff;
	left: 0;
	margin-left: 15px;
	position: absolute;
	top: 35px;
	width: 50px;
}

.footer-static-block ul.address-footer li {
	margin-bottom: 0;
}

.footer-static-block ul li {
	padding: 6px 0;
}

.footer hr {
	border-top: 1px solid #e1e1e1;
}
.footer-static-block li i.fa {
	float: left;
	font-size: 16px;
	color: #2084ff;
	margin-top: 5px;
}
.footer-static-block li p {
	margin-left: 25px;
	margin-bottom: 15px;
}
ul.tagcloud li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
}
ul.tagcloud li a {
	border: 1px solid #444444;
	display: inline-block;
	padding: 5px 10px;
}
.sidebar-block ul.tagcloud li a {
	border-color: #ebebeb;
}
ul.tagcloud li a:hover {
	border-color: #2084ff;
}

.footer-static-block li a:hover span {
	color: #ffe400;
}
.footer-static-block .field {
	margin-bottom: 5px;
}
.footer-static-block input, .footer-static-block textarea {
	background-color: transparent;
	border: 1px solid #444;
	width: 100% !important;
	padding: 5px;
}

.footer-bottom .site-link li {
	display: inline-block;
}
.footer-bottom .site-link li a {
	padding: 0 10px;
}
.footer-bottom .site-link li:first-child a {
	padding: 0;
}
.footer-bottom .site-link li:last-child a {
	padding: 0;
}
.copy-right {
	margin-top: 10px;
}
.payment ul li {
	display: inline-block;
	padding: 0 10px;
}
.payment ul li a {
	display: inline-block;
	opacity: 0.7;
}

.payment ul li a:hover {
	opacity: 1;
}

/* Scroll-top Arrow CSS Start */
.scroll-top {
	bottom: 20px;
	position: fixed;
	right: 20px;
}
.scroll-top #scrollup:before {
	color: #ffffff;

	content: "";
	font-family: "FontAwesome";
	font-size: 18px;
}
.scroll-top #scrollup {
	background: #269EA8;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 8px 15px;
	display: none;
	cursor: pointer;
}
/* Scroll-top Arrow CSS End */


/*Custom store web*/

.logo-header{
	width: 100% !important;
	height: auto !important;
}

.home-video{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.d-flex{
	display: flex;;
}

.center{
	justify-content: center;
}
.between{
	justify-content: space-between;
}
header .main-search .search-box .input-text{
	background-color: #dedddd;
}

.ui__button{
	/*background-color: #269EA8;*/
	padding: 8px 35px;
	border-radius: 20px;
}
.ui__btn__primary{
	color: #269EA8;
	border: 1px solid #269EA8;
	font-weight: 700;
}
.ui__btn__primary:hover{
	color: #ffffff;
	background-color: #269EA8;
	cursor: pointer;
	-webkit-transition: background 0.3s linear;
	-moz-transition: background 0.3s linear;
	-ms-transition: background 0.3s linear;
	-o-transition: background 0.3s linear;
	transition: background 0.3s linear;
}
