.user__profile__dropdown{
  width: 270px;
  padding: 35px 0px 0px 0px !important;
}
.profile_dropd_body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user__name{
  font-size: 15px;
  font-weight: 700;
}
.user__info_body{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.user__info_body .user__options{
  width: 100%;
}
.user__info_body .user__options > li{
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid;
  border-bottom-color: rgba(224, 229, 232, 0.78);
  text-align: center;
}
