<style type="text/css" media="screen">
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  color: #8492a6;
  height: 100%;
}
body {
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
  color: #8492a6;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container {
  display: table;
  width: 100%;
  height: 100%;
}
.sidebar-large {
  display: table-cell;
  width: 580px;
  height: 100%;
  padding: 20px 80px;
  background-color: #FFF;
}
.user-access {
  text-align: center;
}
.content {
  display: table-cell;
  height: 100%;
  background-color: #eff2f7;
  text-align: right;
  vertical-align: top;
  color: #8492a6;
}
.hero-login {
  height: 100%;
}
.bg-cover {
  background-image: -webkit-linear-gradient(top,#36404e,#36404e);
  background-image: linear-gradient(to bottom,#36404e,#435063);
  background-color: #36404e;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.gradient-primary {

}

.logoGrunem{
  width: 69px;
}

.titlePages{

  font-size: 23px;
  color: #8492a6;
  margin-top: 18px;
  margin-bottom: 6px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.inputEdit {
  font-size: 17px;
  padding: 11px;
  border-radius: 4px;
}
.textDetalle{
  text-align: justify;
  margin-bottom: 25px;
}
fieldset{
  background: #fff !important;
  width: 100% !important;
}
.app-content .wizard.wizard-notification>.steps>ul>li.current .step {
  border: 2px solid #2da3ab;
  color: #30a7af;
  line-height: 36px;
}
.app-content .wizard.wizard-notification>.steps>ul>li.current .step:after, .app-content .wizard.wizard-notification>.steps>ul>li.done .step:after {
  border-top-color: #2a9ea7;
}
.app-content .wizard>.steps>ul>li.done .step {
  background-color: #32a8b0;
  border-color: #2ca0a9;
  color: #FFF;
}
.app-content .wizard.wizard-notification>.steps>ul>li:after, .app-content .wizard.wizard-notification>.steps>ul>li:before {
  top: 39px;
  width: 50%;
  height: 2px;
  background-color: #2ca1aa;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #bac0e0;
  line-height: 28px;
  text-align: left;
  font-size: 17px;
}
.contentForm{
  margin-bottom: 20px;
  margin-top: 12px;
}
.select2-container--classic.select2-container--focus, .select2-container--default.select2-container--focus {
  width: 100% !important;
}
.select2-container--classic .select2-selection--single, .select2-container--default .select2-selection--single {
  height: 45px!important;
}

.app-content .wizard>.actions>ul>li>a {
  background: #2b9fa8;
}
.labelClass{
  text-align: left;
  float: left;
  color: #8492a6;
}
.contentSponsorQuestion {
  color: #6B6F82;
  text-align: left;
  font-size: 18px;
}
.textsponsor{
  widows: 100%;
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}
.contenGenarl{
  padding-left: 18px;
  margin-top: 5px;
}
.editQuestion{
  margin-bottom: 13px;
}
.mensajeSiguiente{
  font-size: 18px;
  padding-left: 17px;
  margin-bottom: 20px;
  color: #00897b;
  margin-top: -19px;
}
.message_error{
  color: #ff5e74;
  font-size: 14px;
}
.message_succes{
  color: green;
  font-size: 16px;
}



.packages{
  min-width: 175px;
  display: inline-block;
  color: #fff;
  padding: 12px 8px;
  margin-right: 10px;
  margin-bottom: 14px;
  font-weight: 500;
  letter-spacing: .05rem;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  font-family: Quicksand,Georgia,'Times New Roman',Times,serif;
  -webkit-transition: 0.5s all;
}

.contentPackage{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.packages:hover{
  cursor: pointer;

}
.activePackage{

  -webkit-transform: scale(1.1);
  border: 2px solid #3f4b5c;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: #0606069e;
}

.contentQr{
  margin-top:10px;
  margin-bottom: 15px;
}
.contentwl{
  margin-top:5px;
  margin-bottom: 20px;
}

.error-packages{
  color: red;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 10px;
  display: none;
}
.contenAcept{
  text-align: left;
  padding-left: 22px;
  margin-top: 14px;
  margin-bottom: 20px;
}

.textAcept{
  font-size: 14px;
  color: #8492a6;
  text-decoration: underline;
  cursor:pointer;
}
#aceptar-error{
  display: inline-block;
  min-width: 154px;
  margin-top: 25px;
}

.contenMethod{
  margin-top: 20px;
  margin-bottom: 30px;
}

.content_method{
  min-width: 365px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.contenMethod .nav-pills .nav-item{
  display: inline-block;
  width: 100%;
  text-align: left;
}

.contenMethod .nav-pills .nav-item:hover{
  background: #eee;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #FFF;
  background-color: #32a8b0;
}
.nav.nav-pills.nav-pill-toolbar .nav-item a.nav-link.active, .nav.nav-pills.nav-pill-toolbar .nav-item a.nav-link:active {
  border-color: #32a8b0;
}
html body a {
  color: #8492a6;
}
html body a:hover {
  color: #8c9bac;
}

.iconR{
  float: right;
  margin-top: 5px;
}

.contentLeft{
  text-align: left;
  padding: 0 !important;
  /*background: #f4f5fa;*/
}
.subTitlec{
  font-size: 14px;
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 14px;
}

.contentnTabsInter{
  margin-bottom: 40px;
  position: relative;
  min-height: 400px;
  background: #fff;
}

.criptTile{
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.qrImg{
  max-width: 180px;
}

.centerqr{
  text-align: center;
}
.paddin-0{
  padding: o !important;
}
.nav.nav-tabs.nav-top-border .nav-item a.nav-link.active {
  border-top: 3px solid #32a8b0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #555;
}
.nav.nav-tabs.nav-top-border .nav-item a {
  color: #32a8b0;
}

.acountNumber{
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
}

.shop-card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 363px;
  background: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  /*overflow: hidden;*/
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  z-index: 2;
}

.btnCerrar{
  position: absolute;
  top: -8px;
  right: -10px;
  background: #00000061;
  color: #fff;
  border-radius: 50%;
  z-index: 9;
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 3px 7px;
  font-size: 20px;
  cursor: pointer;
}
.contentnTabsInter2{
  margin-bottom: 40px;
  position: relative;
  background: #fff;
}

.active{
  display: block !important;
}
.hide{
  display: none !important;
}

.btnCerrar:hover{
  background: #000000c4;
}

.loadInit{
  display: none;
}
.font-min{
  font-size: 13px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #4a558b;
  line-height: 28px;
  text-align: left;
  font-size: 17px;
}
.loadIni{
  z-index: 1000;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #fff;
  opacity: 0.9;
  cursor: wait;
  position: fixed;
}

.loadIni2{
  z-index: 1000;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #fff;
  cursor: wait;
  position: fixed;
}
.pago-pendin{
  background: #f8ecad;
  color: #7c6d1f;
  padding: 5px 10px;
}

#timebtc{
  float: right;
}


.PagoPopover{
  border: 1px solid rgba(216, 22, 22, 0.38);
  position: absolute !important;
  top: -24px !important;
  left: 400px !important;
  min-width: 159px !important;
  display: none;
}

</style>
