/*
 * 	Responsive CSS File
 *	v1.0
 */

/* clearfix */

 @media (min-width: 1770px) {
    .container {
        width: 1740px;
    }

    .content-dropdown {
	    display: none !important;
	}

    .product-listing .inner-listing .col-md-4 {
    	width: 20%;
    }

    .banner.inner-banner1 {
		min-height: 1px;
	}
	.col-lg-20per {
        width: 20%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-80per {
        width: 80%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }


}

@media only screen and (min-width: 1200px) and (max-width: 1769px) {
    .container {
        width: 1170px;
        max-width: 100%;
       /* padding: 0 15px;*/
    }

    .content-col {
    	width: 80%;
    }

    .sidebar-col {
    	width: 20%;
    }

    .col-lgmd-20per {
        width: 20%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lgmd-60per {
        width: 60%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lgmd-100per {
        width: 100%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lgmd-80per {
        width: 80%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .float-right-imp {
    	float: right !important;
    }

    .list-type .col-lg-6 {
    	width: 100%;
	}

	.header-right-part {
	    padding: 0 0 0 201px;
	}

	.category-dropdown select {
	    width: 200px;
	}

	.cat-dropdown {
		padding: 4px 0 0;
	}

	.btn-sidebar-menu-dropdown {
		font-size: 18px;
		padding: 12px 10px;
	}

	.cat-dropdown .navbar-nav > li > a {
		padding: 8px 6px;
	}

	.cat-dropdown .sub-megamenu a.page-scroll::before {
		right: 8px;
	}

	.cat-dropdown .nav > li.level:hover .megamenu {
		left: 20%
	}

	.sidebar-menu-dropdown > a span {
		margin-right: 5px;
	}

	.navbar-nav .level.hidden-cet {
	    display: none;
	}

	.mobilemenu-content li a {
		padding: 26px 16px;
	}

    .header-right-link > ul > li {
    	padding: 0 8px;
    }

    .middle-link ul li  {
	    font-size: 0;
	    line-height: 1px;
	}

    .middle-link ul li a {
    	padding: 0;
    }

    .middle-link ul li > a span {
	    margin: 0;
	}

	.middle-link ul li:last-child > a span {
		border: none;
		padding: 0;
	}

    .product-listing .col-lg-2 {
    	width: 25%;
    }

    .navbar-brand img {
    	height: 50px;
	}

    .banner-detail .banner-detail-inner .banner-title {
	    font-size: 45px;
	    line-height: 50px;
	}

	.banner .owl-buttons {
	    display: none;
	}

    .banner-detail {
    	top: calc(100% - 70%);
    	left: 10%
    }

    .banner-1 .banner-detail {
	    top: calc(100% - 91%);
	}

	.banner-2 .banner-detail {
		left: 13%
	}

	.right-small-banner {
	    display: none !important;
	}

    .sub-banner .sub-banner-detail .sub-banner-subtitle {
    	font-size: 16px;
    	margin-bottom: 5px;
    	margin-top: 0;
    }

    .sub-banner .sub-banner-detail .sub-banner-title {
    	font-size: 20px;
    }

    .banner-top {
    	margin-bottom: 7px;
	}
    .sub-banner.sub-banner3 .sub-banner-detail {
    	left: 20px;
    }

    .sub-banner.sub-banner4 .sub-banner-detail {
		top: 65%;
	}

	.banner-detail .banner-detail-inner span.slogan {
		font-size: 25px;
		margin-bottom: 10px;
	}

	.banner-detail .banner-detail-inner span.offer {
		margin-top: 0;
		font-size: 25px;
	}

	.banner-detail a.btn {
		margin-top: 10px;
	}

    .feature-box {
    	text-align: center;
	}

	.ser-feature-block .feature-icon {
	    display: inline-block;
	    float: none;
	    margin-left: 0;
	}

	.feature-detail {
		padding-left: 0;
		padding-top: 0;
	}

    .product-slider .heading-part > h2 {
    	font-size: 30px;
    	letter-spacing: 1px;
	}

	.price-box .price {
		font-size: 16px !important;
	}

    .pro-detail-info {
    	margin-top: 0;
    	max-width: 140px;
    }

    .product-item.sold-out::after {
    	font-size: 12px;
    }

   .featured-product {
	    margin-bottom: -30px;
	}

	.product-listing .product-item{
	    margin-bottom: 30px;
	}

	.product-listing {
	    margin-bottom: -30px;
	}

	.main-label {
	    font-size: 12px;
	    height: 45px;
	    line-height: 45px;
	    padding-left: 10px;
	    top: 10px;
	    width: 45px;
	}

    .homepage .client-main .item p {
    	line-height: 25px;
    }

    .footer, .footer a, .footer p {
		font-size: 16px;
	}

	.footer-middle-right {
    	padding-left: 40px;
    }

    .btn.big {
    	padding: 15px 20px;
	}

	#brand-logo {
	    padding: 0 55px;
	}

	.newsletter-inner .main_title {
		font-size: 30px;
		margin-top: -5px;
	}

	.newsletter-box {
		padding-right: 130px;
	}

	.newsletter .newsletter-inner form button {
	    padding: 15px 18px;
	}

	.newsletter-inner input {
		padding: 10px;
	}

	.footer .newsletter-inner form button {
		padding: 15px 18px;
	}

	.payment ul li {
		padding: 0 6px;
	}

	.about-detail h2.heading {
    	font-size: 20px;
	}

	.sidebar-contant .pro-detail-info > a {
    	font-size: 14px;
	}

	.pro-detail-info > a {
	    line-height: 20px;
	}

	.sidebar-item .pro-media {
		width: 100px;
	}

	.sidebar-title h3 {
		font-size: 22px
	}

	.product-page .product-item .detail-inner-left ul li {
   		padding: 0 2px;
	}

	.product-page .detail-inner-left.right-side ul li a {
		padding: 0 15px;
	}

	.product-page .product-detail-inner {
   		padding: 10px 0 0;
	}
}

@media (max-width: 1280px) {

.container {
	max-width: 100%;
}

.f-logo img {
    height: 50px;
}

.partner-block ul li {
	padding:0;
}

}

 @media (min-width: 1200px) {
/*.container {
	width: 1200px;
}*/

.menu-container {
    margin: 0 auto;
    width: 1170px;
}

}

 @media (max-width: 1199px) {
.container {
	padding: 0 15px;
}
.border-right {
	border-right: none;
}

/* Header */

.header-middle-right {
	border: none;
}
.navbar-header .navbar-brand {
    width: auto;
}
.header-bottom .container {
    padding: 0;
}

.mobilemenu-content li a {
	padding: 26px 16px;
}

.header-right-link > ul > li {
	padding: 0 8px;
}

.middle-link ul li {
    font-size: 0;
    line-height: 1px;
}

.middle-link ul li a {
	padding: 0;
}

.middle-link ul li > a span {
    margin: 0;
}

.middle-link ul li:last-child > a span {
	border: none;
	padding: 0;
}

.megamenu .level2 > a {
	margin-right: 0;
}
.navbar-nav > li > a {
	padding: 25px 15px;
}


.navbar-brand img {
	height: 45px;
}

.cat-dropdown .nav > li.level .megamenu {
	left: 25%;
}

.cat-dropdown .nav > li.level:hover .megamenu {
	left: 25%;
}


.header-right-link > ul > li {
	padding: 0 10px;
}

.header-right-part {
    padding: 0 0 0 201px;
}

.category-dropdown select {
    width: 200px;
}

/* Column */

.ser-feature-block {
	-webkit-background-size: cover;
	background-size: cover;
}

.ser-feature-block {
	text-align: center;
}

.ser-feature-block .feature-box {
	display: inline-block;
	text-align: left;
	border-right: none;
	margin: 20px 0;
}

.service-box {
    border-bottom: 1px solid #e1e1e1;
}

.service-box:last-child {
    border: medium none;
}

.service-box:last-child .feature-box {
    padding-bottom: 0;
}

.ser-feature-block .feature-icon {
	margin-left: 0;
	float: left;
}

.feature-detail {
	padding-left: 20px;
	margin-top: 5px;
}

.ser-feature-block .feature-icon {
    display: inline-block;
    margin-left: 0;
}

.homepage .banner {
	min-height: 100%;
}

.banner .owl-buttons {
    display: none;
}

.banner-detail {
	top:30%;
	left: 5%;
}

.banner-2 .banner-detail {
    left: 13%;
}

.banner-detail .banner-detail-inner .banner-title {
    font-size: 45px;
    line-height: 50px;
}
.banner-detail .banner-detail-inner span.offer {
    font-size: 25px;
    margin-top: 0;
}
.banner-detail .banner-detail-inner span.slogan {
    font-size: 20px;
    margin-bottom: 5px;
}

.banner-1 .banner-detail .banner-detail-inner span.slogan{
	padding: 5px;
}

.banner-detail a.btn {
    display: none;
}

.sub-banner .btn.btn-color {
    display: none;
}

.sub-banner3 .sub-banner-detail span.line {
	margin: 25px 0;
}

.cate-detail a {
	font-size: 14px;
}

h2.main_title, .sidebar-title h3 {
    font-size: 25px;
    letter-spacing: 1px;
}

/*.heading-part {
    margin-bottom: 15px;
}
*/
.product-slider .owl-prev, .product-slider .owl-next,
#brand-logo .owl-prev, #brand-logo .owl-next,
.banner .owl-prev, .banner .owl-next,
.client-main .owl-prev, .client-main .owl-next,
.sub-menu-slider .owl-prev, .sub-menu-slider .owl-next,
.pro_cat .owl-prev, .pro_cat .owl-next {
	height: 45px;
	width: 45px;
}

.product-slider .owl-prev::after, .product-slider .owl-next::after,
#brand-logo .owl-prev::after, #brand-logo .owl-next::after,
.banner .owl-prev::after, .banner .owl-next::after,
.client-main .owl-prev::after, .client-main .owl-next::after,
.sub-menu-slider .owl-prev::after, .sub-menu-slider .owl-next::after,
.pro_cat .owl-prev::after, .pro_cat .owl-next::after {
	line-height: 45px;
}

.pro_cat .owl-prev {
    right: 60px;
}

.product-item .detail-inner-left ul li {
	padding: 0 3px;
}

.price-box .price {
	font-size: 16px !important;
}

.product-slider .heading-part > h2 {
    font-size: 25px;
    letter-spacing: 1px;
}

.pro-detail-info {
	margin-top: 0px;
}

.product-item.sold-out::after {
	font-size: 12px;
}

.main-label {
    font-size: 12px;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    top: 10px;
    width: 45px;
}

.sale-label {
	left: 5px;
}

.new-label {
	right: 5px;
}

.sidebar-contant .pro-detail-info > a {
    font-size: 14px;
}

.homepage .client-main .item p {
	line-height: 25px;
}

.featured-product {
    margin-bottom: -30px;
}

.homepage .product-listing .product-item{
    margin-bottom: 30px;
}

.product-listing {
    margin-bottom: -30px;
}

.list-types {
	padding: 0 2px;
}

.shorting .view {
	margin-right: 10px;
}

.bottom-detail ul li a {
    font-size: 0;
}

.short-by > span, .show-item > span {
	font-size: 15px;
}


.client-img.left-side {
	float: none;
	margin: 0;
}

#brand-logo {
    padding: 0 40px;
}

.newsletter-box {
	padding-right: 130px;
}

.footer, .footer a, .footer p {
	font-size: 16px;
}

.footer .newsletter-inner form button {
	padding: 15px 18px;
}

.footer, .footer a, .footer p {
    font-size: 16px;
}

.site-link {
	margin-bottom: 30px;
}

.site-link, .payment {
	text-align: center;
}

.quote {
	border: none;
}

.about-detail h2.heading {
    font-size: 20px;
}

.product-page .product-item .detail-inner-left ul li {
	padding: 0 2px;
}

.product-page .product-detail-inner {
	padding: 10px 0 0;
}

}

 @media (min-width: 992px) {
.mobile-sub-menu {
	display: inline !important;
}

.mobilemenu-content {
  	display: block !important;
}

}
 @media only screen and (min-width: 992px) and (max-width: 1199px) {
/* Header */

	/* Content */

.sub-banner .sub-banner-detail .sub-banner-title {
	font-size: 16px;
	line-height: 24px;
}
.sub-banner1 .sub-banner-detail, .sub-banner.sub-banner4 .sub-banner-detail {
	padding: 10px 5px;
}

.sub-banner.sub-banner1 .sub-banner-detail .sub-banner-title {
	font-size: 20px;
}
.sub-banner .sub-banner-detail .sub-banner-subtitle{
	font-size: 13px;
	margin-top: 0;
	margin-bottom: 5px;
}

.banner-top {
    margin-bottom: 5px;
}
.sub-banner.sub-banner2 .sub-banner-detail {
	top: 15%;
}
.sub-banner.sub-banner3 .sub-banner-detail {
	top: 35%
}


.newsletter-inner .main_title {
	font-size: 30px;
	margin-top: -5px;
}

.newsletter-inner input {
    padding: 10px;
}

.newsletter .newsletter-inner form button {
    padding: 15px 18px;
}

.footer .newsletter-inner form button {
    padding: 15px 18px;
}

.newsletter-inner .btn.big {
    padding: 15px 20px;
}

.footer-static-block ul li {
    padding: 3px 0;
}

.footer-static-block .title {
	margin-bottom: 10px;
	font-size: 22px;
}

.team-item:hover .team-item-detail {
    bottom: 10px;
}

/* Footer */

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
/* Content */
.special-products-block .pro-detail-main .bottom-detail {
	bottom: -90px;
}

.sub-banner .sub-banner-detail .sub-banner-title {
	font-size: 16px;
	line-height: 24px;
}
.sub-banner1 .sub-banner-detail, .sub-banner.sub-banner4 .sub-banner-detail {
	padding: 10px 5px;
}

.sub-banner.sub-banner1 .sub-banner-detail .sub-banner-title {
	font-size: 20px;
}
.sub-banner .sub-banner-detail .sub-banner-subtitle{
	font-size: 13px;
	margin-top: 0;
	margin-bottom: 5px;
}

.banner-top {
    margin-bottom: 5px;
}
.sub-banner.sub-banner2 .sub-banner-detail {
	top: 15%;
}
.sub-banner.sub-banner3 .sub-banner-detail {
	top: 35%
}

}

@media (min-width: 992px) {
	.footer .footer-static-block {
		display: block !important;
	}
}

@media (max-width: 991px) {
.center-sm {
	text-align: center;
}

.container-full-sm .container {
    width: 100%;
    padding: 0;
    height:
}

.height-sm-0 {
	min-height: 0 !important;
}

.float-none-sm {
	float: none !important;
}
.float-left-sm {
	float: left !important;
}
.float-right-sm {
	float: right !important;
}
.ptb-95 {
    padding-top: 65px;
    padding-bottom: 65px;
}
.pt-95 {
    padding-top: 65px;
}

.pb-95 {
    padding-bottom: 65px;
}
.mtb-60 {
    margin-top: 45px;
    margin-bottom: 45px;
}
.mt-60 {
    margin-top: 45px;
}
.mb-60 {
    margin-bottom: 45px;
}
.ptb-sm-0 {
	padding-top: 0px;
	padding-bottom: 0px;
}
.pt-sm-0 {
	padding-top: 0px;
}
.pb-sm-0 {
	padding-bottom: 0px;
}
.ptb-sm-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.pt-sm-15 {
	padding-top: 15px;
}
.pb-sm-15 {
	padding-bottom: 15px;
}
.ptb-sm-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pt-sm-30 {
	padding-top: 30px;
}
.pb-sm-30 {
	padding-bottom: 30px;
}
.ptb-sm-60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.pb-sm-60 {
	padding-bottom: 60px;
}
.pt-sm-60 {
	padding-top: 60px;
}
.mtb-sm-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.mtb-sm-0 {
	margin:0;
}
.mt-sm-0 {
	margin-top: 0;
}
.mb-sm-0 {
	margin-bottom: 0;
}
.mt-sm-30 {
	margin-top: 30px;
}
.mb-sm-30 {
	margin-bottom: 30px;
}
.mtb-sm-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.mt-sm-15 {
	margin-top: 15px;
}
.mb-sm-15 {
	margin-bottom: 15px;
}


/* Header */

body.dark-header {
	padding-top: 0;
}
header#header {
	position: relative;
}

.navbar-nav > li.dropdown > a:after {
    display: none;
}

.header-top {
	padding: 10px 0;
}
#header .nav > li:first-child a {
	padding-left: 15px;
}

.middle-link {
	display: none;
}

.header-right-link {
	position: absolute;
    right: 65px;
    top: -175px;
}

.header-right-part {
	float: none;
    padding: 0 0 0 201px ;
}

.middle-link.mobile {
    display: block;
    padding: 0;
    position: absolute;
    width: 100%;
}

.middle-link.mobile ul li {
    border-right: 1px solid #41415a;
    float: left;
    padding: 6px 0;
    width: 33.33%;
    text-align: center;
}

.middle-link ul li .content-dropdown ul li {
	padding: 10px 20px;
}

.content-dropdown i.fa {
    color: #666666;
    left: 0;
    margin-top: -6px;
    position: absolute;
}

.content-dropdown ul li:hover i.fa {
    color: #269ea8;
}

.middle-link.mobile ul li:last-child {
    border: medium none;
}

.middle-link ul li > a span {
    border: none;
    padding: 0;
}

.header-bottom {
    margin-bottom: 20px;
}

.header-middle-right {
	margin-bottom: 20px;
	padding: 0;
}

.category-dropdown select {
	width: 200px;
}

.content-dropdown {
	left: 0;
	top: 35px;
}

.cat-dropdown .navbar-nav {
    float: none;
    margin: 33px 0 0;
    width: 100%;
    border-top: 1px solid #41415a;
}

.navbar-header .navbar-brand {
	padding: 15px 0 ;
}
.navbar-nav > li > a {
	padding: 8px 18px;
}
.navbar-toggle {
	display: block;
}

.header-right-part {
    margin: 0;
}

.navbar-collapse {
    background: none repeat scroll 0 0 #1f1f2f;
    bottom: 0;
    border-bottom: 0;
    display: inline-block !important;
    height: 100% !important;
    left: -250px;
    position: fixed !important;
    top: 0 !important;
    margin: 0 !important;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -webkit-box-shadow: 0px 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0 1px rgba(0, 0, 0, 0.2);
    width: 250px;
    z-index: 2;
}

.navbar-collapse.menu-open {
    left: 0;
}

.navbar-nav > li {
	float: none;
}
.header-inner .navbar-collapse, .header-inner .navbar-collapse ul {
	width: 100%;
}
.megamenu .sub-menu-level2 li.level3 > a {
	color: #6d6d6d;
}

.mobilemenu-content .sub-menu-level2 li.level3 > a {
	color: #fff;
}

.megamenu .sub-menu-level2 li.level3 > a:hover {
	color: #269ea8;
}

.navbar-collapse > ul {
	margin: 0;
}

.navbar-nav > li > a {
	padding-left: 0px;
}

.nav > li .menu-label {
	display: none;
}

.sidebar-menu-dropdown {
    width: 0;
    display: block;
}

.btn-sidebar-menu-dropdown {
    display: none;
}

.search-container input[type="text"] {
    font-size: 30px;
    padding: 0;
}

.cat-dropdown .sidebar-contant ul li.level:hover {
    background-color: transparent;
}

.cat-dropdown .sub-megamenu a.page-scroll::before {
    display: none;
}

.cat-dropdown .navbar-nav > li > a {
	color: #fff;
}

.cat-dropdown .sidebar-contant ul li:hover > a, .cat-dropdown .sidebar-contant ul li:focus > a {
	color: #269ea8 !important;
}

.cat-dropdown {
    display: block;
}
.cat-dropdown {
    padding: 0;
    background: transparent;
}

.cat-dropdown .sub-megamenu a.page-scroll::before {
    display: none;
}

.cat-dropdown .nav > li.level .megamenu {
    margin-top: 0;
}

.cat-dropdown .nav > li.level .megamenu {
    left: 0 !important;
    background-color: transparent;
    padding: 0 40px;
    box-shadow: none;
    border: 0;
}

.cat-dropdown .nav > li.level:hover .megamenu {
    left: 0 !important;
}

/* Menu */

#menu .level {
	position: relative;
}
#menu .mobile-sub-menu {
	display: none;
}

#menu span.opener {
	background: url(../images/sprite.png) no-repeat scroll 0 0;
	height: 25px;
	width: 25px;
	display: inline-block;
	position: absolute;
	right: 5px;
	top: 8px;
	cursor: pointer;
	z-index: 1;
}
#menu span.plus {
	background-position: -94px -378px;
}
#menu span.minus {
	background-position: -94px -416px;
}

#menu-main .level {
    position: relative;
}

#menu-main .mobile-sub-menu {
	display:none;
}

#menu-main span.opener {
    background:url(../images/sprite.png) no-repeat scroll 0 0;
    height: 25px;
    width: 25px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 7px;
    cursor:pointer;
    z-index: 1;
}
#menu-main span.plus {
	background-position: -117px -378px;
}
#menu-main span.minus {
	background-position: -117px -416px;
}

.navbar-collapse {
	padding: 0;
}
.megamenu .level2 > a {
	position: relative;
	margin-bottom: 2px;
	color: #269ea8;
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
}
.megamenu .level2 > a:before {
	content: "";
	font-family: FontAwesome;
	position: absolute;
	left: -11px;
}
.nav > li:hover {
	overflow: hidden;
}
.megamenu {
	background-color: transparent;
	border-top: none;
	position: relative;
	left: auto;
	top: auto;
	opacity: 1;
	padding: 0px 30px;
	transition: none 0s ease 0s;
	-moz-transition: none 0s ease 0s;
	-webkit-transition: none 0s ease 0s;
	-o-transition: none 0s ease 0s;
}
.megamenu .container {
	width: 100%;
}
.megamenu .sub-menu-level1 li.level2 {
	float: none;
	margin-bottom: 0px;
}
.megamenu .megamenu-inner-top .level2 {
	margin-bottom: 15px;
}

.megamenu {
	box-shadow: none;
}

.mobilemenu-content .navbar-nav li:last-child {
	border: none;
}

.mobilemenu-content ul li.level3 {
    border: medium none;
}

.header-right-link > ul > li > a {
	padding: 10px 0 10px;
}

.header-link-dropdown {
	top: 68px;
}

.mobilemenu-title.mobilemenu > span {
    display: inline-block;
    font-weight: 500;
    padding: 5px 0 0 10px;
    text-transform: uppercase;
}

.mobilemenu-content.right-side li a {
  	font-size: 14px;
  	font-weight: 600;
  	padding: 10px 0 10px 15px;
}

.mobilemenu-title {
    display: block;
}

.mobilemenu {
  	background: #fff;
  	color: #1f1f2f;
  	cursor: pointer;
  	display: inline-block;
  	font-size: 16px;
  	padding: 3px 5px;
  	top: 100px;
  	width: 100%;
  	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}


.mobilemenu.openmenu {
    border-radius: 5px 5px 0 0;
}

.mobilemenu.closemenu {
    border-radius: 5px;
}

.mobilemenu-title .fa {
  	font-size: 18px;
	height: 37px;
  	margin: 0;
  	padding: 10px;
  	width: 37px;
}

.mobilemenu-content {
  	background: #2084ff;
  	transition: none 0s ease 0s ;
  	width: 100%;
  	position: absolute;
  	z-index: 1;
  	display: none;
}

.mobilemenu-content ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.mobilemenu-content ul li {
  	border-bottom: 1px solid #338eff;
  	float: left;
  	width: 100%;
}

.mobilemenu-content ul li a {
  	display: inline-block;
  	font-size: 14px;
  	font-weight: 500;
  	line-height: 24px;
  	padding: 5px 15px;
  	width: 100%;
}

/* content */

.banner {
	margin: 0;
}

.main-banner .owl-controls .owl-buttons {
	display: none;
}

.banner-1 .banner-detail {
    top: 15%;
}
.banner-2 .banner-detail {
	top: 30%;
}
.banner-detail .banner-detail-inner .banner-title{
    font-size: 50px;
    line-height: 50px;
}

.banner-detail .banner-detail-inner span.slogan {
    font-size: 20px;
}

.banner-detail .banner-detail-inner span.offer {
    font-size: 18px;
    margin-top: 0;
}

.banner-detail a.btn {
    display: inline-block;
}

.inner-banner {
	padding: 60px 0;
}

.btn.big {
    padding: 20px;
}

.banner-detail a.btn {
    font-size: 20px;
    margin-top: 35px;
}

.banner-2 .banner-detail a.btn, .banner-3 .banner-detail a.btn {
    margin-top: 15px;
}

.banner-top {
    margin-bottom: 0;
}

.sub-banner.sub-banner3 .sub-banner-detail .sub-banner-type {
	margin-top: 10px;
}
.sub-banner.sub-banner6 .sub-banner-detail .sub-banner-subtitle {
	margin-bottom: 0;
}
.sub-banner .sub-banner-detail span {
	margin: 20px 0 15px;
}
.sub-banner-block .sub-banner:hover img {
	transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-webkit-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	opacity: 1;
}
.sub-banner .sub-banner-effect {
	display: none;
}

.small-banner.small-banner1 {
    margin-bottom: 20px;
}

.special-products-block .pro-detail-main {
	min-height: 1px !important;
}

.product-slider .heading-part span {
    right: -80px;
    width: 70px;
}

.product-slider .heading-part > h2 {
	font-size: 20px;
}

.share-link {
    margin-bottom: 30px;
    margin-top: 10px;
}

.perellex-title {
	font-size: 45px;
	line-height: 60px;
}

.cat-box-inner .cart-link button {
	opacity: 1;
}

.quote1-img > img, .quote2-img > img{
    height: 45px;
}

.homepage .quote1-img > img, .quote2-img > img{
    height: auto;
}

.quote {
	padding: 0;
}

.newsletter {
	background-size: cover;
}

.newsletter-title {
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 0;
}
.newsletter-inner p {
	margin-bottom: 15px;
}
.newsletter-inner span {
	margin-bottom: 20px;
}

.newsletter-box {
    padding-right: 140px;
}

.newsletter-inner input {
	width: 100%
}

.footer .newsletter-inner form button {
	padding: 20px 22px;
}

.client-main .owl-controls .owl-pagination {
    display: inline-block !important;
}

.header-inner button i.fa {
	font-size: 24px;
}
.header-inner {
	width: 100%;
	position: relative;
	display: inline-block;
}
.navbar-header {
	width: 100%;
}

.navbar-toggle {
    background: #2084ff none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    height: 42px;
    margin-right: 0;
    margin-top: 15px;
    padding: 8px 10px;
    width: 42px;
}

.navbar-toggle:hover {
	color: #ffffff;
}
.error-block-bg {
	background: none;
}
.owl-carousel {
	overflow: hidden;
	padding-top: 7px;
}
.banner .owl-carousel {
	overflow: hidden;
	padding-top: 0px;
}
.product-item .product-detail-inner {
	bottom: 0;
	text-align: center;
}
.product-item:hover .product-detail-inner {
    bottom: 0;
}

.product-slider .owl-prev, .product-slider .owl-next {
	height: 50px;
	width: 35px;
	padding: 0 10px;
	opacity: 1;
}
.product-slider .owl-prev::after, .product-slider .owl-next::after {
	font-size: 23px;
	line-height: 47px;
}
.product-slider .owl-prev {
	left: 0px;
}
.product-slider .owl-next {
	right: 0px;
}

.sidebar-box.gray-box {
	padding-bottom: 0;
}
.sidebar-box.gray-box .sidebar-contant {
	padding-top: 25px;
}
.sidebar-box {
	margin-bottom: 15px !important;
}
.homepage .sidebar-box {
	margin-bottom: 30px !important;
}
.sidebar-block .sidebar-box {
	position: relative;
}
.sidebar-box .sidebar-contant {
	display: none;
}
.sidebar-box span.opener {
	background: url(../images/sprite.png) no-repeat scroll 0 0;
	height: 30px;
	width: 30px;
	display: inline-block;
	position: absolute;
	right: 0;
	cursor: pointer;
	z-index: 1;
}
.sidebar-box span.plus {
	background-position: -92px -380px;
}
.sidebar-box span.minus {
	background-position: -92px -418px;
}
.sidebar-box span.opener {
	top: 10px;
}

.blog-item:hover .blog-media img {
    opacity: 1;
    transform: scale(1);
}

.pagination-bar {
	margin-bottom: 20px;
}
.client-main .owl-buttons {
	display: none;
}
.show-item {
	width: 100%;
	margin-top: 20px;
}
.about-title {
	font-size: 25px;
	line-height: 45px;
}
.checkout-step ul li .step .line {
	display: none;
}

.footer-middle .f-logo {
    margin-bottom: 40px;
}

.footer-middle-right {
    padding-left: 15px;
}

.footer-static-block {
	position: relative;
	margin-bottom: 10px;
	border-bottom: 1px solid #e1e1e1;
}
.footer-static-block .title {
	margin-bottom: 20px;
	font-size: 20px;
}
.footer-static-block .footer-block-contant {
	display: none;
	margin-bottom: 20px;
}
.footer .f-col:last-child .footer-static-block {
	border-bottom: none;
}
.footer-static-block span.opener {
	background: url(../images/sprite.png) no-repeat scroll 0 0;
	height: 30px;
	width: 30px;
	display: inline-block;
	position: absolute;
	right: 0;
	cursor: pointer;
}

.footer-middle-left .footer-static-block span.opener {
    top: -70px;
}

.footer-static-block span.plus {
	background-position: -92px -375px;
}
.footer-static-block span.minus {
	background-position: -92px -413px;
}

.footer-middle-left {
    border:none;
}

.icon-newsletter {
    padding-top: 40px;
}

.copy-right {
	margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}

.footer .title > span {
	margin-left: 0;
	top: 30px;
}
/* Footer */

.bread-bg {
    padding: 10px 0;
}

/*About page*/

.team-item {
	margin-bottom: 30px;
}

.partner-detail-main {
	margin-top: 50px;
}

.partner-detail-main p {
	margin-bottom: 30px;
}

.partner-block ul li {
	padding:0;
}

table.compare-info tr td button:first-child {
    margin-bottom: 10px;
}

/* News-letter PopUp */
#newslater-popup .newsletter-inner {
	padding: 30px;
}

}
@media (max-width: 767px) {
.center-xs {
	text-align: center;
}
.float-none-xs {
	float: none !important;
}
.float-left-xs {
	float: left !important;
}
.float-right-xs {
	float: right !important;
}
.ptb-95 {
	padding-top: 35px;
	padding-bottom: 35px;
}
.pt-95 {
	padding-top: 35px;
}
.pb-95 {
	padding-bottom: 35px;
}
.mtb-40 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.mtb-60 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.mt-60 {
    margin-top: 40px;
}
.mb-60 {
    margin-bottom: 40px;
}
.mt-40 {
	margin-top: 30px;
}
.mb-40 {
	margin-bottom: 30px;
}
.ptb-xs-0 {
	padding-top: 0px;
	padding-bottom: 0px;
}
.pt-xs-0 {
	padding-top: 0px;
}
.pb-xs-0 {
	padding-bottom: 0px;
}
.ptb-xs-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pt-xs-30 {
	padding-top: 30px;
}
.pb-xs-30 {
	padding-bottom: 30px;
}
.ptb-xs-60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.pb-xs-60 {
	padding-bottom: 60px;
}
.pt-xs-60 {
	padding-top: 60px;
}
.mtb-xs-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.mt-xs-30 {
	margin-top: 30px;
}
.mb-xs-30 {
	margin-bottom: 30px;
}

/* Header */

.header-link-dropdown {
	top: 98px;
}

.header-right-link > ul > li > a, .header-right-link > ul > li > .header_search_toggle.desktop-view {
	padding: 38px 0 16px;
}

.header-right-link {
    right: 62px;
    top: -205px;
}
.header-right-link > ul > li {
    padding: 0 6px;
}

/* Content */
.inner-banner .banner-detail h1 {
	font-size: 30px;
}

h2.main_title, .sidebar-title h3 {
    font-size: 20px;
}
.banner-detail .banner-detail-inner .banner-title {
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 0;
}
.banner-1 .banner-detail {
    top: 20%;
}

.banner-detail a.btn {
    display: none;
}

.sub-banner {
	margin: 20px auto 0;
}

.sub-banner-block {
    margin-top: -20px;
}

.special-products-block {
	text-align: center;
}
.special-products-block .product-image {
	float: none;
}
.special-products-block .pro-detail-main {
	min-height: 0px !important;
	margin-left: 0;
	margin-top: 30px;
	text-align: left;
}
.special-products-block .pro-detail-main .bottom-detail {
	position: relative;
	margin-top: 20px;
}
.special-products-block .product-item {
	float: none;
}

.product-page .product-detail-inner {
	padding: 10px 5px 0;
}

.perellex-banner a.btn {
	margin-top: 30px;
}

.perellex-banner span.line-bottom {
	margin: 5px 0 20px;
}

.pro-detail-info {
	margin-top: 0;
}

.client-main .item p {
	font-size: 20px;
	line-height: 30px;
}

.inner-banner1 {
	padding: 30px 0;
}

.shop-list-view .bottom-detail ul li {
	padding: 0 10px;
}
.shop-list-view .bottom-detail ul li:first-child {
	padding: 0;
}
.shop-list-view .bottom-detail ul li:last-child {
	padding-right: 0;
}
.shop-list-view .bottom-detail ul li > a {
	font-size: 0;
}
.shop-list-view .bottom-detail ul li > a span {
	margin-right: 0;
}
.checkout-step ul {
	display: inline-block;
}
.checkout-step ul li {
	float: none;
	margin-bottom: 15px;
}
.account-content {
	padding: 0;
}
.table-responsive {
	display: inline-block;
}
.account-sidebar ul li.active a::after, .account-sidebar ul li:hover a::after {
	border-width: 0px;
}
.account-sidebar ul li.active a .fa, .account-sidebar ul li:hover a .fa {
	right: 15px;
}
.error-block-detail .main-error-text {
	font-size: 220px;
	line-height: 180px;
}
.contact-info .p-0 {
	border-right: none;
	margin-bottom: 30px;
}
.contact-box span {
	margin-bottom: 10px;
}

.blog-item {
	max-width: 380px;
	margin: 0 auto 30px;
}

.blog-item:hover a.read {
    opacity: 0;
}

.footer .newsletter-inner form button {
    padding: 15px 18px;
}

.newsletter-inner .btn.big {
    padding: 15px 20px;
}

.footer-middle-left .footer-static-block span.opener {
    top: -80px;
}
.footer-top {
	padding: 32px 20px;
}
.footer-top .f-logo {
	margin-left: 20px;
}
.footer-top p {
	margin-left: 212px;
}

/* News-letter PopUp */
#newslater-popup .newsletter-inner {
	padding: 30px 0;
}

#newslater-popup .newsletter-inner .main_title {
	font-size: 35px;
}
.nl-popup-inner {
	margin: 10px;
}
#newslater-popup button.mfp-close {
	top: 10px;
	right: 10px;
}
}
@media (max-width: 600px) {
/* Header */

.header-top {
    font-size: 14px;
    padding: 5px 0;
}

.header-right-part {
    padding: 0 0 0 51px;
}

.category-dropdown select {
    background-position: 72% 50% !important;
    padding: 7px 24px 7px 25px;
    width: 50px;
}

.banner-detail .banner-detail-inner .banner-title {
	font-size: 22px;
	line-height: 25px;
}

.banner-detail .banner-detail-inner span.slogan {
	font-size: 16px;
}

.banner-detail a.btn {
	display: none;
}

.feature-detail {
	padding-left: 10px;
}

.inner-banner .banner-detail h1 {
	font-size: 25px;
}

.header_search_toggle.mobile-view {
	display: block;
	margin-bottom: 20px;
}
.mobile-view .search-box input.input-text {
	position: relative;
	right: auto;
	width: 100% !important;
	opacity: 1;
}
.mobile-view .search-box button.search-btn {
	position: absolute;
}

.product-listing .row .owl-carousel .owl-item .item {
    padding: 0 10px;
}

.product-listing .shop-list-view .product-item {
	float: none;
	margin-right: 0;
	margin-bottom: 15px;
}
.product-item .detail-inner-left ul li {
	padding: 0 4px ;
	font-size: 0;
}

.product-item-details {
    margin-top: 10px;
    text-align: center;
}

.detail-inner-left ul {
	width: 100%;
}

.detail-inner-left {
    margin-bottom: -9px;
}

.product-item .detail-inner-left.right-side ul li::before {
    background: #a7a7a7;
    content: "";
    height: 25px;
    left: 0;
    position: absolute;
    width: 1px;
}

.product-item .detail-inner-left.right-side ul li {
    width: 50%;
}

.product-item .detail-inner-left.left-side ul li {
    width: 100%;
}

.detail-inner-left.left-side {
    display: inline-block;
    width: 33.33%;
}

.detail-inner-left.right-side {
    width: 66.67%;
}

.detail-inner-left.right-side ul li a {
	border: none;
}

.product-item .detail-inner-left ul li:last-child {
	padding-right: 3px ;
}

.product-item.sold-out::after {
    font-size: 10px;
    padding: 5px;
}

.product-page .product-listing .row {
    margin-left: -5px;
    margin-right: -5px;
}

.product-detail-inner {
    background: transparent;
    position: relative;
	padding: 7px 0 0;
}

.detail-inner-left ul li button span, .cat-box-inner .cart-link button span {
    background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -51px -16px;
    height: 20px;
    width: 25px;
    margin-bottom: -5px;
}

.cat-box-inner .cart-link button:hover span {
	background-position: -51px -43px;
}

.detail-inner-left ul li button:hover span {
    background-position: -51px -42px;
}

.detail-inner-left ul li.pro-wishlist-icon a {
	background-position: -51px -65px;
}
.detail-inner-left ul li.pro-wishlist-icon a:hover {
	background-position: -51px -90px;
}
.detail-inner-left ul li.pro-wishlist-icon.active a {
	background-position: -48px -168px;
}
.detail-inner-left ul li.pro-compare-icon a {
	background-position: -51px -117px;
}
.detail-inner-left ul li.pro-compare-icon a:hover {
	background-position: -51px -143px;
}

.detail-inner-left.right-side ul li a {
	padding: 0 10px;
}

.price-box {
	display: block;
	text-align: center;
}

.list-type .price-box, .sidebar-box.sidebar-item .price-box {
    text-align: left;
}

.product-item.sold-out::after {
	top: 40%;
}

.rating-summary-block.right-side {
    float: none;
    text-align: center;
}

.cat-block .price-box {
    text-align: left;
}

.newsletter-icon {
	margin-right: 10px;
}
.newsletter-bg {
	padding: 30px 0;
}
.error-block-detail .main-error-text {
	font-size: 150px;
	line-height: 120px;
	margin-bottom: 40px;
}

.main_title span::before {
	width: 60px;
}

.main_title span::after {
	width: 60px;
}

.main_title span {
	padding: 0 70px 0 0;
}

.client-main .owl-carousel .owl-wrapper-outer {
	padding-top: 35px;
}

.paypal-box {
	display: none;
}
.payment-top-box {
	margin-bottom: 0;
}
.footer-top .f-logo {
	float: none;
	text-align: center;
}
.footer-top p {
	margin-left: 0px;
	margin-top: 20px;
}
}
 @media only screen and (min-width: 420px) and (max-width: 767px) {

}


 @media (max-width: 500px) {

body {
	font-size: 14px;
}

.header-top {
	display: none;
}

.header-top.mobile {
    display: block;
    border-top: 1px solid #41415a;
    padding: 20px 0;
    text-align: center;
}

.header-top.mobile ul li {
    float: left;
}

.header-top.mobile .top-link {
    display: inline-block;
    float: none;
}

.header-middle hr {
    display: none;
}

.header-right-link {
    top: -200px;
}

.header-link-dropdown {
    top: 94px;
}
.navbar-toggle {
	margin-top: 20px;
}
.banner-detail .banner-detail-inner span.offer {
	font-weight: 400;
}

.sub-banner-block {
    margin-top: -30px;
}

.sub-banner.sub-banner1 .sub-banner-detail .sub-banner-title {
	font-size: 22px;
}
.sub-banner .sub-banner-detail .sub-banner-subtitle {
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 15px;
}
.sub-banner .sub-banner-detail .sub-banner-title {
	font-size: 20px;
}
.sub-banner.sub-banner3 .sub-banner-detail {
	top: 35%;
}

.product-detail-tab .nav-tabs > li {
	float: none;
}

.product-detail-main .bottom-detail ul li > a {
    font-size: 0;
}
.product-detail-main .bottom-detail ul li > a span {
	margin-right: 0;
	margin-bottom: -12px;
}

.share-link {
	margin-bottom: 20px;
	margin-top: 0;
}

.category-bar ul li a {
	font-size: 18px;
	padding: 10px;
}

.ser-feature-block .feature-box {
    padding-left: 0;
    text-align: center;
}

.ser-feature-block .feature-icon {
    display: inline-block;
    float: none;
    margin-left: 0;
}

.feature-detail {
	width: 100%;
	padding-top: 0;
	padding-left: 0;
}

.product-item-name {
	margin-bottom: 0;
}

.perellex-title {
    font-size: 40px;
    line-height: 50px;
}

.perellex-offer {
	font-size: 30px;
}


}
 @media (max-width: 419px) {

#newslater-popup .newsletter-inner {
    padding: 10px 0;
}

#newslater-popup .newsletter-inner .main_title {
	font-size: 35px;
}
#newslater-popup .newsletter-inner input {
    margin-bottom: 20px;
}
#newslater-popup .newsletter-inner > form {
    margin-bottom: 20px;
}

.header-right-link {
    right: 62px;
    top: -120px;
}

.compare-icon, .wishlist-icon {
    display: none;
}

.header-right-link > ul > li > a, .header-right-link > ul > li > .header_search_toggle.desktop-view {
	padding: 28px 0 10px;
}

.navbar-toggle {
	margin-top: 20px;
}

.header-link-dropdown {
    top: 82px;
}

/* Header */
.header-right-link > ul > li:hover {
	position: static;
}
.header-link-dropdown {
	right: 50%;
	transform: translateX(28%);
	-ms-transform: translateX(28%);
	-webkit-transform: translateX(28%);
	-o-transform: translateX(28%);
}

.main-banner .owl-controls .owl-pagination {
	bottom: 10px;
}

.banner-1 .banner-detail {
    top: 25%;
}

.banner-2 .banner-detail, .banner-3 .banner-detail {
    top: 35%;
}

.banner-2 .banner-detail {
    left: 15%;
}

.banner-1 .banner-detail .banner-detail-inner span.slogan {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0;
}

.banner-detail .banner-detail-inner .banner-title {
	font-size: 16px;
	line-height: 15px;
	margin-bottom: 5px;
}
.banner-detail .banner-detail-inner span.offer {
	display: none;
}
.banner-detail .banner-detail-inner span.slogan {
	font-size: 12px;
	margin: 0;
}
.sub-banner-block .col-xs-6 {
	width: 100%;
}
.sub-banner {
	max-width: 100%;
}
.sub-banner.sub-banner2 .sub-banner-detail{
	top: 20%;
}
.sub-banner .sub-banner-detail .sub-banner-title {
    font-size: 18px;
    line-height: 22px;
}

.sub-banner.sub-banner4 .sub-banner-detail {
    top: 55%;
}
.category-bar ul li a {
	font-size: 14px;
	padding: 5px;
}

.ser-feature-block .feature-box .ser-subtitle {
	font-size: 12px;
	letter-spacing: 0;
}

.main_title span::before {
	width: 0px;
}

.main_title span::after {
	width:0px;
}

.main_title span {
	padding: 0 ;
}

.main-label {
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    padding-left: 6px;
    top: 5px;
    width: 35px;
}

.product-item .product-detail-inner {
    bottom: 5px;
}

.product-item:hover .product-detail-inner {
    bottom: 5px;
}

.detail-inner-left {
    margin-bottom: -20px;
}

.perellex-banner span.line-bottom {
    margin: 0 0 15px;
}

.perellex-title {
    font-size: 30px;
    line-height: 40px;
}


.newsletter-inner {
	padding: 30px 0px;
}
.newsletter-icon {
	display: none;
}

.newsletter-box {
	padding: 0;
}

.newsletter-bg {
	padding: 0;
	background: none;
}

.newsletter .newsletter-inner form button {
	position: relative;
	margin-top: 20px;
}
.newsletter-inner .main_title {
	font-size: 25px;
}
.error-block-detail .main-error-text {
	font-size: 120px;
}
.error-small-text {
	font-size: 30px;
}
.error-slogan {
	font-size: 22px;
}
.short-by > span, .show-item > span {
	display: none;
}
.short-by, .select-item, .compare {
	display: inline-block;
}
.tab_content {
	padding: 10px;
}

.share-link label {
	letter-spacing: 0;
    margin-right: 5px;
}

.f-logo img {
    height: 40px;
}

.footer-bottom .site-link li a {
    padding: 0 6px;
}

.team-item:hover .team-item-detail {
    bottom: 2px;
}

}
