/* toast */
.toastn {
  color: #000;
  line-height: 1.5;
  margin-bottom: 1em;
  padding: 1.25em;
  position: absolute;
  right: -365px;
  top: 1em;
  transition: 0.15s ease-in-out;
  transform: translateX(0px);
  width: 325px;
}

.toastn.on {
  z-index: 500;
  transform: translateX(-365px);
}

.close_t {
  cursor: pointer;
  float: right;
  font-size: 1.25rem;
  line-height: 1;
  margin-left: 1em;
  opacity: .8;
}

.jam {
  background-color: #99004d;
  color: #fff;
}


/* body and container */
/*
html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f1f2f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  overflow: hidden;
}

.container {
  margin: 0 auto;
}
*/
.toast__show {
  background-color: #fff;
  border: 1px solid #0363c8;
  border-radius: 3px;
  color: #0363c8;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  padding: .5em 1em;
  text-transform: uppercase;
}

.toast__show:hover {
  background-color: #0363c8;
  color: #fff;
}
